<div class="product-item p-3">
    <div [routerLink]="['/product-details']" class="product-image mb-3" style="background-image: url('../../../../assets/products/product-item.png');">
    
    </div>
    <div class="product-details">
        <div class="product-name ">
            <h3 class="m-0">Yaris</h3>
        </div>
        <div class="product-price">
            230 000frs
        </div>

        <div class="product-description">
            <p class="m-0">
                produitDescription courte du produit Description courte du
            </p>
        </div>
        <div class="phone my-3">
            <span>tel :</span> <strong tel="+237 934 854 534">+237 934 854 534</strong>
        </div>
        <div class="other-details align-items-center row">
            <div class="location-address col-xl-6 mb-3">
                <h5>
                    <i class="fas fa-map-marker-alt" style="font-size: 17px;"></i>
                    localisation
                </h5>
                <div class="d-flex gap-2 two_icon" style="font-size: 21px;">
                    <i class="fas fa-globe"></i>
                    <i class="fab fa-whatsapp"></i>
                </div>
            </div>
            <div class="button-contact col-xl-6 mb-3">
                <button class="">Contacter</button>
            </div>
        </div>
    </div>
</div>
