
<div class="product-item p-3">
    <div  [routerLink]="['/product-details', productItem.id]" class="product-image mb-3" style="background-image: url('{{imageUrl}}');">
    
    </div>
    <div class="product-details">
        <div class="product-name ">
            <h4 class="">
                <i class="fas fa-map-marker-alt me-1" style="font-size: 17px;"></i>
                {{productItem.location}}
            </h4>
            <h3 class="m-0">{{productItem.title}}</h3>
            
        </div>
        <div class="product-price">
            {{productItem.price | currency}}
        </div>

        <div class="product-description">
            <p class="m-0">
                {{productItem.description}}
            </p>
        </div>
        <!-- <div class="phone mt-3 mb-1">
            <span>Tel :</span> +237 934 854 534
        </div> -->
        <div class="other-details align-items-center row mt-3">
            
            <div class="location-address col-xl-12">
                <div class="two_icon">
                    <a class="g-1" [href]="'tel:'+productItem.users?.whatsapp_number" target="_blank">
                        <i class="fa-solid fa-square-phone-flip mx-2" style="font-size: 23px;"></i> : +{{productItem.users?.whatsapp_number }}
                    </a> 
                </div>
                <div class="two_icon " *ngIf="productItem.users?.site_url">
                    <a class="gap-1" [href]="'https://'+siteUser" target="_blank" rel="noopener noreferrer">
                        <i class="fas fa-globe mx-2" style="font-size: 21px;"> </i> : {{productItem.users?.site_url}}
                    </a> 
                </div>
                <div class="two_icon">
                    <a [href]="'https://api.whatsapp.com/send?phone='+productItem.users?.whatsapp_number+'&text=Hello Bailleurnet&source=&data='" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-whatsapp mx-2"  style="font-size: 24px;"></i> : +237{{productItem.users?.whatsapp_number}}
                    </a>
                </div>
                <div class="two_icon" *ngIf="productItem.users?.email">
                    <a [href]="'mailto:'+productItem.users?.email+'?subject=' + subject + '&body=' + body" target="_blank">
                        <i class="fa-solid fa-envelope mx-2" style="font-size: 21px;"></i> : {{productItem.users?.email}}
                    </a> 
                </div>
            </div>
        </div>
        <!-- <div class="button-contact col-xl-12 mb-1">
            <a href="https://api.whatsapp.com/send?phone=237694798186&text=Hello Bailleurnet&source=&data=" target="_blank" rel="noopener noreferrer">
                Contacter
            </a>
        </div> -->
    </div>
</div>
