.grey-20{
    color: rgba(143, 143, 143, 1);

}

.bg_grey a{
    cursor: text !important ;
}

.bg_grey_15 a{
    background-color: var(--main-color-gray-15) !important;
}

a{
    cursor: pointer;
}

.active a{
    background-color: var(--main-color) !important;
    color: white ;
    border: 1px solid var(--main-color);
}

.page-item a{
    background-color: var(--main-color-gray-5);
}

.page-item a:not(.page-item.active a):hover{
    background-color: var(--main-color-gray-15) !important;
}
