<nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item direction"  [ngClass]="{bg_grey : previous === 0}">
        <a class="page-link" (click)="handleSetPage('<<')" aria-label="Previous">
          <span aria-hidden="true" class="grey-20">&laquo;</span>
        </a>
      </li>
      
      <li class="page-item" *ngFor="let item of items" [ngClass]="{active : item === current}">
        <a class="page-link grey-20" (click)="handleSetPage(item)" >{{item}}</a>
      </li>
     
      <li class="page-item direction" [ngClass]="{bg_grey : next > allcount}">
        <a class="page-link" (click)="handleSetPage('>>')" aria-label="Next">
          <span aria-hidden="true" class="grey-20">&raquo;</span>
        </a>
      </li>
    </ul>
</nav>