


.finger{
    cursor: pointer;
}

.border_bottom_gray{
    border-bottom: 1px solid var(--main-color-gray-15);
}

span.check-all{
    font-family: var(--main-font-Quicksand);
    font-size: var(--main-notif-font-size);
    font-weight: var(--main-md-font-weiht);
    line-height: var(--main-sm-line-height);
    text-align: left;
    color: var(--main-color);
}

.icon-close:hover{
    background-color: rgba(250, 250, 250, 1);
}


.text_green{
    color: var(--main-color);
}

.check{
    text-decoration: none;
}

.check:hover{
    border-bottom: .9px solid var(--main-color);
    color: var(--main-color);
}
