<!-- <div class="tag-list d-flex gap-3 mb-5">
    <button class="filter-tag active-tag">Espace agricole </button>
    <button class="filter-tag">Salle de fête </button>
    <button class="filter-tag">Hôtel</button>
    <button class="filter-tag">Habitation</button>
    <button class="filter-tag">Appartement meublé </button>
    <button class="filter-tag">Espace commercial </button>
    <button class="filter-tag">Espace non bâti </button>
</div> -->

<div class="tag-list row pt-5z">
    <div class="col-md-3 mb-1">
        <select name="category" id="category" class="form-control filter-tag" (change)="onFilterChange($event , 'category')">
            <option value="" selected>{{'user.tags-list.cat'| translate}} </option>
            <option *ngFor="let category of categories" [value]="category.title"> {{ category?.title }} </option>
        </select>
    </div>
    <div class="col-md-3 mb-1">
        <select id="country" [(ngModel)]="selectedCountry" (change)="onFilterChange($event , 'country')" name="country" class="form-control filter-tag" placeholder="Veuillez selectionner un pays">
            <option value="" selected>{{'user.tags-list.country'| translate}}</option>
            <option *ngFor="let country of countries" [value]="[country.isoCode, country.name]">{{ country.name }}</option>
        </select>
    </div>
    <div class="col-md-3 mb-1">
        <select [(ngModel)]="selectedCity" name="city" id="city" (change)="onFilterChange($event , 'city')" class="form-control filter-tag" placeholder="Veuillez selectionner une ville">
            <option value="" selected>{{'user.tags-list.city'| translate}}</option>
            <option *ngFor="let city of cities" [value]="city.name">
                {{ city.name }}
            </option>
        </select>
    </div>
    <div class="col-md-3 text-center">
        <button class="filter-tag active-tag w-100 text-center"(click)="refrech()">All</button>
    </div>
</div>
