<div class="filter-bar">

    <select name="category" id="category" class="filter-select" (change)="onFilterChange($event, 'category')">
        <option value="" selected>{{'user.tags-list.cat' | translate}}</option>
        <option *ngFor="let category of categories" [value]="category.title">{{ category?.title }}</option>
    </select>

    <select id="country" [(ngModel)]="selectedCountry"
        (change)="onFilterChange($event, 'country')"
        name="country" class="filter-select">
        <option value="" selected>{{'user.tags-list.country' | translate}}</option>
        <option *ngFor="let country of countries" [value]="[country.isoCode, country.name]">{{ country.name }}</option>
    </select>

    <select [(ngModel)]="selectedCity" name="city" id="city"
        (change)="onFilterChange($event, 'city')"
        class="filter-select">
        <option value="" selected>{{'user.tags-list.city' | translate}}</option>
        <option *ngFor="let city of cities" [value]="city.name">{{ city.name }}</option>
    </select>

    <button class="btn-reset" type="button" (click)="refrech()">
        <i class="fa-solid fa-rotate-right"></i>
        {{'user.tags-list.reset-filter' | translate}}
    </button>

</div>
