.filter-tag{
    padding: 6px 15px 6px 15px;
    gap: var(--gap-10);
    border-radius: var(--main-radius-value-30);
    border: 1px solid var(--main-color);
    opacity: 0px;
    color: var(--main-color);
    background-color: var(--main-color-white);
}

.active-tag{
    background-color: var(--main-color-orange);
    color: var(--main-color-black);
    border: 1px solid var(--main-color-orange);
}

.tag-list{
    flex-wrap: wrap;
}

.tag-list select:hover{
    background-color: var(--main-color-orange);
    color: var(--main-color-black);
    border: 1px solid var(--main-color-orange);
}


@media only screen and (max-width: 768px) {
  .tag-list .filter-tag {
    font-size: 10px;
  }
  /* .tag-list .col-6 select{
    padding-left: 0px !important;
    padding-right: 0px !important;
  } */
}
