<div class="footer-content">
    <div class="content container">
        <div class="row footer-list">
            <div class="col-lg-4 col-md-4 col-sm-12 element_1">
                <div class="row">
                    <div class="col-12 label-site">
                        <a href="#" class="navbar-brand relative d-flex align-items-center">
                            <img class="brand-logo mx-0" src="../../../../assets/baill-logo.ico" alt="">
                            <span class="site_name">{{siteName}}</span>
                        </a>
                    </div>
                </div>
                <div class="row all-right-line">
                    <div class="col-12">
                        <p class="all-right">©{{currentYear}} Bailleurnet. {{'footer.access-right'| translate}} </p>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-4 col-lg-4 col-md-4 col-sm-12 element_2">
                <div class="title-list">
                    <p>Catégories</p>
                </div>
                <ul class="categories mb-4">
                    <li class="category-item active_category py-2">
                        Habitation et Hébergement
                    </li>
                    <li class="category-item py-2">
                        Services Professionnels
                    </li>
                    <li class="category-item py-2">
                        Matériel et Équipements
                    </li>
                    <li class="category-item py-2">
                        Événements et Services
                    </li>
                    <li class="category-item py-2">
                        Véhicules et Transport
                    </li>
                </ul>
            </div> -->
            <div class="col-lg-4 col-lg-4 col-md-4 col-sm-12 element_3 text-center">
                <div class="title-list">
                    <p>{{'footer.contact'| translate}} </p>
                </div>
                <div class="icon-content gap-2 d-flex text-white justify-content-center">
                    <ul class="icon-list d-flex gap-2">
                        <li class="px-2 icon-item text-center"><i class="icon fa-solid fa-comment"></i> </li>
                        <li class="px-2 icon-item"><i class="icon fa-brands fa-x-twitter"></i></li>
                        <li class="px-2 icon-item"><i class="icon fa-brands fa-linkedin-in"></i></li>
                        <li class="px-2 icon-item"><i class="icon fa-brands fa-facebook-f"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
