.footer-content{
    min-height: 282px;
    width: 100%;
    background-color: var(--main-color-blackgreen);
    bottom: 0%;
<<<<<<< HEAD
    left: 0;
    text-align: center;
    position: relative; /* Le footer est relatif à l'élément parent */
    z-index: 1011;
=======
    z-index: 102;
    position: relative;
>>>>>>> b275f319c6cbafd1f9c52729328d19101d82562d
}


.site_name{
    font-family: var(--main-font-Bree-Serif);
    font-size: 32px;
    font-weight: var(--main-md-font-weiht);
    color: var(--main-color);
    user-select: none;
}

.brand-logo{
    height: 60px;
    width: 60px;
}

.footer-list{
    padding-top: 46px;
}

.footer-list .element_2, .element_3{
    padding-left: 144px;
    padding-top: 15px;
}

ul.categories, ul.icon-list{
    list-style: none;
    padding: 20px 0px;
}

ul.categories li, .all-right{
    font-size: var(--main-h5-font-size);
    font-weight: var(--main-md-font-weiht);
    font-family: var(--main-font-Quicksand);
    line-height: var(--main-md-line-height);
    color: var(--main-color-gray-15);
    text-align: left;
}


.icon-content .icon-list .icon-item{
    height: 40px;
    width: 40px;
    background-color: var(--main-color);
    border-radius: 49%;
    text-align: center;
}

.icon-content .icon-list .icon-item .icon{
    padding-top: 10px;
    color: var(--main-color-blackgreen);
    height: 24px;
    width: 24px;
    font-size: 22px;
}

.icon-content ul.icon-list > li{
    margin-right: 6px;
}

.title-list p{
    font-size: var(--main-h3-font-size);
    font-weight: var(--main-xl-font-weiht);
    font-family: var(--main-font-Quicksand);
    line-height: var(--main-lg-line-height);
    color: var(--main-color);
}

.all-right-line{
    margin-top: 91px;
}

@media screen and (max-width: 767px){
    .footer-list .element_2, .element_3, ul.categories{
        padding: 0;
    }

    ul.categories li, .element_2, .all-right{
        text-align: center;
    }

    .all-right-line{
        margin: 20px 0px;

    }

    .label-site{
        display: flex;
        justify-content: center;
    }
}
