.footer-content{
    min-height: 282px;
    width: 100%;
    background-color: var(--main-color-blackgreen);
    bottom: 0%;
}

.site_name{
    font-family: var(--main-font-Mulish);
    font-size: 32px;
    color: var(--main-color);
    user-select: none;
}

.brand-logo{
    height: 60px;
    width: 60px;
}

.footer-list{
    padding-top: 46px;
}

.title-list h2{
    margin: 0;
    font-size: var(--main-h2-font-size);
    font-weight: var(--main-xl-font-weiht);
    line-height: 25px;
    text-align: left;
    color: var(--main-color);
}

ul.categories{
    list-style: none;
    padding: 20px 0px;
}

ul.categories li{
    font-size: var(--main-h4-font-size);
    font-weight: var(--main-xl-font-weiht);
    line-height: var(--main-md-line-height);
    color: var(--main-color-gray-15);
    text-align: left;
}

.icon-list{
    font-size: 17px;
}