#icon-chek{
    font-size: 19px;
    border-radius: 50%;
    font-weight : 700;
    height: fit-content;
    width: fit-content;
}

.pad-icon-greenn_red{
    padding: 10px;
}

.progress{
    border-radius: 0px 0px 8px 8px !important;
    height: 8px !important;
}

.text-alert{
    font-family : var(--main-font-Quicksand);
}

.white_icon{
    color: var(--main-color-white);
    padding: 10px 12px;
}


.bg-green-icon{
    background-color : rgba(145, 226, 83, 1);
}


.red_icon{
    color: rgba(238, 102, 102, 1);
    padding: 10px;
}

.orange_icon{
    color: rgba(250, 200, 78, 1);
    padding: 10px 17px;
}

.alert-container{
    border-radius: 8px;
    position: absolute;
    top: 110px;
    right: 30px;
    background-color: white;
}

.bg-main-green{
    background-color:rgba(223, 252, 200, 1) !important;
}

.bg-main-red{
    background-color: rgba(255, 211, 192, 1);
}

.red-progress{
    background-color: rgba(237, 45, 45, 1);
}

.green-progress{
    background-color: var(--main-color);
}

.w-35{
    width: 35%;
}

.z-index-200000{
    z-index: 200000;
    border-radius: 8px;
}
