<div class="payment-item m-auto w-100" (click)="handlePayment(itemPay?.title)">
    <div class="payment-logo py-2">
        <ng-container *ngIf="itemPay.title == 'Stripe'">
            <img src="../../../../assets/images/stripe.jpg" width="43" alt="" class="img-fluid icon-payment"> 
            <span> {{itemPay.title}} </span>
        </ng-container>
        <ng-container *ngIf="itemPay.title == 'Orange Money'">
            <img src="../../../../assets/images/Logo-om.jpg" width="43" alt="" class="img-fluid icon-payment"> 
            <span> {{itemPay.title}}</span>
        </ng-container>
        <ng-container *ngIf="itemPay.title == 'Mobile Money'">
            <img src="../../../../assets/images/momo.png" width="43" alt="" class="img-fluid icon-payment"> 
            <span>{{itemPay.title}} </span>
        </ng-container>
    </div>
</div>
<div class="stripe-form m-auto pt-3" *ngIf="showStripeForm && itemPay.title == 'Stripe'">
    <!-- Message d'erreur -->
    <div *ngIf="errorMessage" class="error mt-3">
      {{ errorMessage }}
    </div>
  <!-- Numéro de carte (occupe toute une ligne) -->
  <div class="form-group">
    <label for="card-number-element" class="label-form">Numéro de carte</label>
    <div id="card-number-element" class="stripe-element"></div>
  </div>

  <!-- Date d'expiration et CVC (sur la même ligne) -->
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="card-expiry-element" class="label-form">Date d'expiration</label>
        <div id="card-expiry-element" class="stripe-element"></div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="card-cvc-element" class="label-form">CVC</label>
        <div id="card-cvc-element" class="stripe-element"></div>
      </div>
    </div>
  </div>

  <!-- Bouton de paiement -->
  <button class="btn_publish mt-2 mt-3 d-flex align-items-center justify-content-between" [disabled]="createPayMeth" (click)="handlePayment()">
    Payer 
    <div class="spinner-border text-light ms-2" *ngIf="createPayMeth" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </button>
</div>

  <!-- <form class="w-100 m-auto" (ngSubmit)="handleSubmit()">
  <div class="form_group mb-3">
          <label class="label-form mb-1" for="cardNumber">Numéro de carte</label>
          <input type="number" class="input_field input-field" [formControl]="number" id="cardNumber"  name="number" required>
        </div>
        <div *ngIf="number.dirty && !number.valid">
            <div class="" class="error" *ngIf="number.hasError('required')">
                veuiller renseigner ce champ 
            </div>
            <div class="" class="error" *ngIf="!number.hasError('required')">
              Ce champ doi contenir exactement 16 caractères
            </div>
        </div>
        <div class="form_group mb-3">
          <label class="label-form mb-1" for="exp_month">Mois d'expiration</label>
          <input type="text" class="input_field input-field" [formControl]="exp_month" id="exp_month"  name="exp_month" required>
        </div>
        <div *ngIf="number.dirty && !number.valid">
          <div class="" class="error" *ngIf="exp_month.hasError('required')">
              veuiller renseigner ce champ 
          </div>
          <div class="" class="error" *ngIf="!exp_month.hasError('required')">
            Ce champ doi contenir exactement 2 caractères
          </div>
        </div>
      
        <div class="form_group mb-3">
          <label class="label-form mb-1" for="exp_year">Année d'expiration</label>
          <input type="text" class="input_field input-field" [formControl]="exp_year" id="exp_year" name="exp_year" required>
        </div>
        <div *ngIf="number.dirty && !number.valid">
          <div class="" class="error" *ngIf="exp_year.hasError('required')">
              veuiller renseigner ce champ 
          </div>
          <div class="" class="error" *ngIf="!exp_year.hasError('required')">
            Ce champ doi contenir exactement 4 caractères
          </div>
        </div>
      
        <div class="form_group mb-3">
          <label class="label-form mb-1" for="cvc">CVC</label>
          <input type="text" class="input_field input-field" id="cvc"  name="cvc" required>
        </div>
        <div *ngIf="number.dirty && !number.valid">
          <div class="" class="error" *ngIf="cvc.hasError('required')">
              veuiller renseigner ce champ 
          </div>
          <div class="" class="error" *ngIf="!cvc.hasError('required')">
            Ce champ doi contenir exactement 3 caractères
          </div>
        </div>
      
        <button type="submit" class="btn_publish mt-2">Payer</button>
    </form> -->

<div class="om-form" *ngIf="showOmForm && itemPay.title == 'Orange Money'">
    <form class="w-100">
        <div class="form_group">
          <label class="label-form mb-2" for="phoneNumber">Numéro de téléphone</label>
          <input type="text" class="input_field input-field"  id="phoneNumber"  name="phoneNumber" required>
        </div>
      
        <button type="submit" class="btn_publish mt-2 ">Payer</button>
    </form>
</div>
<div class="momo-form" *ngIf="showMomoForm && itemPay.title == 'Mobile Money'">
    <form class="w-100">
        <div class="form_group">
          <label class="label-form mb-2" for="cardNumber">Numéro de carte</label>
          <input type="text" class="input_field input-field" id="cardNumber"  name="cardNumber" required>
        </div>
      
        <button type="submit" class="btn_publish mt-2 ">Payer</button>
    </form>
</div>