
.page-title h1{
    font-family: var(--main-font-Quicksand);
    font-size: var(--main-h2-font-size);
    font-weight: var(--main-xl-font-weiht);
    line-height: var(--main-xxl-line-height);
    text-align: left;
}

.section-body{
    margin-top: 86px;
}
.card-payment{
    /* width: 675px;    height: 444px; */
    padding: 52px 52px 60px 52px;
    gap: var(--gap-10);
    border-radius: 16px;
    opacity: 0px;
    box-shadow: 0px 4px 15px 0px #0000001A;
}

.card-content{
    /* width: 571px;
    height: 332px; */
    gap: 33px;
    opacity: 0px;
}

.button-active, .btn-not-active {
    width: auto;
    height: 39px;
    padding: 8px 15px 8px 15px;
    gap: var(--gap-10);
    border-radius: 30px;
    opacity: 0px;
    border: var(--main-color);
}

 .button-active{
    color: var(--main-color-white);
    background-color: var(--main-color);
}

 .btn-not-active{
    color: var(--main-color-gray-20);
    background-color: var(--main-color-gray-15);
}

.btn-save-change button{
    width: auto;
    height: 39px;
    padding: 8px 15px 8px 15px;
    gap: var(--gap-10);
    line-height: var(--main-md-line-height);
    border-radius: 30px;
    opacity: 0px;
    color: var(--main-color-white);
    font-family: var(--main-font-Quicksand);
    font-size: var(--main-md-font-weiht);
    border: var(--main-color);
    background-color: var(--main-color-blue);
}

.card-content .button-active button h4{
    font-family: var(--main-font-Quicksand);
    font-size: 18px;
    font-weight: var(--main-md-font-weiht);
    line-height: var(--main-md-line-height);
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--main-color-white);
}

.payment{
    margin-bottom: 20px;
}

.payment-type{
    height: fit-content;
    padding: 20px 30px 20px 30px;
    border-radius: 4px;
    border: 1px ;
    border: 1px solid #E5E5E5;
    text-align: center;
}

.payment-type .icon-payment{
    height: 29px;
}


.payment-type .icon-payment span{
    font-family: var(--main-font-Quicksand);
    font-size: var(--main-h3-font-size);
    font-weight: var(--main-md-font-weiht);
    line-height: var(--main-lg-line-height);
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}


.check-box input.not-active, .check-box input.active{
    width: 58px;
    height: 29px;
    padding: 3px 0px 0px 0px;
    border-radius: 20px;
}

.check-box input.active{
    border: 1px solid var(--main-color-green-10);
}

.check-box input.not-active{
    border: 1px solid var(--main-color-gray-7);
}

.form-switch .form-check-input:checked:disabled{
    background-color: var(--main-color-gray-7) !important;

}

.form-switch .form-check-input.active{
    --bs-form-switch-bg: url('../../../../../assets/icons/green-circle.svg') ;
    background-image: var(--bs-form-switch-bg);
    /* margin-left: 0 !important; */
    background-position: 2px 2px; 
    
}

.form-switch .form-check-input.active:checked{
    --bs-form-switch-bg: url('../../../../../assets/icons/white-circle.svg') ;
    background-image: var(--bs-form-switch-bg) !important;
    background-position: 30px 2px;
    background-color: var(--main-color);
}

.form-check-input:checked {
    background-color: var(--main-color-gray-7);
    border: none !important;
}

.form-switch .form-check-input:focus{
    box-shadow: none !important;
}