<div class="contaner-fluid px-4">
    <div class="page-title">
        <h1>Gestion des modes de paiement</h1>
    </div>
    <div class="row section-body">
        <div class="col-md-12 card-payment">
            <div class="row card-content">
                <div class="button-active">
                    <button><h4>Activer la modification</h4></button>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="payment-type">
                            <img src="../../../../assets/images/logo-om.png" alt="" class="icon-payment">
                            <p>Orange Money</p>
                        </div>
                        <div class="check-box">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>