<div class="row py-2 notif-item bg_gray_notif mx-0">
    <div class="col-2 ">
        <i class="fa-solid fa-triangle-exclamation text_red h1"></i>
    </div>
    <div class="col-9">
        <div class="notif-description">
            <h4 class="notif-title text_red">
                Expiration d’annonce
            </h4>
            <p class="notif-text">
                L’annonce <span>No de l’annonce</span>  publiée le <span> xx/xx/20xx </span>a expirée. Pensez à la renouveller !! 
            </p>
            <h6 class="notif-footer">
                Il y’a 1min
            </h6>
        </div>
    </div>
    <div class="col-1 text-center p-0">
        <i class="fa-solid fa-circle h7 text_green"></i>
    </div>
</div>

<div class="row py-2 notif-item bg_gray_notif mx-0">
    <div class="col-2 ">
        <i class="fa-solid fa-circle-exclamation text_orange h1"></i>
    </div>
    <div class="col-9">
        <div class="notif-description">
            <h4 class="notif-title text_orange">
                Approche d’expiration
            </h4>
            <p class="notif-text">
                L’annonce <span>No de l’annonce</span>  publiée le <span> xx/xx/20xx </span>a expirée. Pensez à la renouveller !! 
            </p>
            <h6 class="notif-footer">
                Il y’a 1min
            </h6>
        </div>
    </div>
    <div class="col-1 text-center p-0">
        <i class="fa-solid fa-circle h7 text_green"></i>
    </div>
</div>

<div class="row py-2 notif-item mx-0">
    <div class="col-2 ">
        <i class="fa-solid fa-triangle-exclamation text_red h1"></i>
    </div>
    <div class="col-9">
        <div class="notif-description">
            <h4 class="notif-title text_red" >
                Expiration d’annonce
            </h4>
            <p class="notif-text">
                L’annonce <span>No de l’annonce</span>  publiée le <span> xx/xx/20xx </span>a expirée. Pensez à la renouveller !! 
            </p>
            <h6 class="notif-footer">
                Il y’a 1min
            </h6>
        </div>
    </div>
    <div class="col-1 text-center p-0">
        <!-- <i class="fa-solid fa-circle h7 text_green"></i> -->
    </div>
</div>
