<div class="container-fluid pos_relative">
    <div class="row px-4 pos_relative d-none">
        <div class="col-md-3 py-4">
            <div class="item-dash bg-green-15 px-4 py-3">
                <div class="height-121">
                    <div class="dash-title">
                        <h2>Annonces encours</h2>
                    </div>
                    <div class="dash-value">
                        <h1>{{totalEncours}}<span class="mx-2"></span></h1> 
                    </div>
                </div>
                <div class="text-end">
                    <i class="fa fa-arrow-right text_green h4"></i>
                </div>
            </div>
        </div>

        <div class="col-md-3 py-4">
            <div class="item-dash bg-orange-k5 px-4 py-3">
                <div class="height-121">
                    <div class="dash-title">
                        <!-- <h2>Annonces en voie d’expiration</h2> -->
                        <h2>Annonces en pause</h2>
                    </div>
                    <div class="dash-value">
                        <h1>{{totalEnvoiDExp}}<span class="mx-2"></span></h1> 
                    </div>
                </div>
                <div class="text-end">
                    <i class="fa fa-arrow-right text_orange h4"></i>
                </div>
            </div>
        </div>
        <div class="col-md-3 py-4">
            <div class="item-dash bg-red-10 px-4 py-3">
                <div class="height-121">
                    <div class="dash-title">
                        <h2>Annonces expirées</h2>
                    </div>
                    <div class="dash-value">
                        <h1>{{totalExpired}}
                            <!-- <span class="mx-2">KL</span> -->
                        </h1> 
                    </div>
                </div>
                <div class="text-end">
                    <i class="fa fa-arrow-right text_red h4"></i>
                </div>
            </div>
        </div>
        <div class="green-side d-none">
            <div class="relatives-imges">
                <img src="../../../../assets/dashboard/chariot.png" id="chariot" height="364"  alt="">
                <img src="../../../../assets/dashboard/voiture.png" id="voiture" height="291"  alt="">
            </div>
        </div>

        <div class="row">
            <h3 class="table-title mb-3 mt-5">
                Les 5 annonces les plus demandées du mois
            </h3>
            <div class="col-7">
                <!-- tableau -->
                <table class="table" id="dashboard_table">
                    <thead>
                        <tr class="border-bottom-1-green">
                            <th scope="col">No</th>
                            <th scope="col " class="bord">Categorie</th>
                            <th scope="col " class="bord">Nom</th>
                            <th scope="col " class="bord">Nbr demandes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of anounceList track item; let  i = index">
                            <th scope="row">{{i + 1 }}</th>
                            <td class="bord-black">Categorie</td>
                            <td class="bord-black">Nom</td>
                            <td class="bord-black">345K</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> 
    
    <div class="row my-4">
        <div class="col-lg-6">
            <div class="row px-3">
                <div class="col-lg-6 pb-3">
                    <div class="item-dash bg-green-15 px-4 py-3">
                        <div class="height-121">
                            <div class="dash-title">
                                <h2>Nombre d’utilisateur</h2>
                            </div>
                            <div class="dash-value">
                                <h1 class="green-main">{{totalEncours}}<span class="mx-2"></span></h1> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 pb-3">
                    <div class="item-dash bg-green-15 px-4 py-3">
                        <div class="height-121">
                            <div class="dash-title">
                                <h2>Total d’annonces</h2>
                            </div>
                            <div class="dash-value">
                                <h1 class="green-main">{{totalEncours}}<span class="mx-2"></span></h1> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row pt-4 px-3">
                <div class="col-12">
                    <div class="item-dash bg-blue-new px-4 py-3">
                        <div class="height-121">
                            <div class="dash-title">
                                <h2>Chiffre d’affaire</h2>
                            </div>
                            <div class="dash-value">
                                <h1 class="blue-new h1-Quicksand fw-baill-bold">12 000 000 FCFA<span class="mx-2"></span></h1> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row px-4 mt-5">
                <h1 class="h3-baill pb-4 pt-5 px-0 black fw-baill-bold">Categorie populaires</h1>
                <table class="table" id="dashboard_table">
                    <thead>
                        <tr class="border-bottom-1-green">
                            <th scope="col " class="bord">Categorie</th>
                            <th scope="col " class="bord">Nombre d'utilisation</th>
                            <th scope="col " class="bord">Nombre d'utilisateur</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of anounceList track item; let  i = index">
                            <td class="bord-black">Categorie</td>
                            <td class="bord-black">Nom</td>
                            <td class="bord-black">345K</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-lg-5 offset-lg-1">
            <div class="row px-4">
                <h1 class="h3-baill black fw-baill-bold mb-4 pt-4 pt-lg-0">Popularite des forfaits</h1>
                <div class="col-12 my-2">
                    <div  class="alert-container shadow">
                        <div class="p-relative bg-white radius-8">
                            <div class="alert-content d-flex gap-4 px-3 align-items-center pt-2 pb-1">
                                <span class="text-alert black title-h4 fw-baill-bold">Free</span>

                            </div>

                            <div class="price-duration pb-0 d-flex px-3 gap-10">
                                <h5 class="h5-baill gray-20">6 mois</h5>
                                <h5 class="h5-baill gray-20">75000 FCFA</h5>
                            </div>

                            <h6 class="text-end small-text px-3 main-font main-font-quick">25%</h6>
                            <div class="progress bg-orange-k5" role="progressbar" aria-label="Warning example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar orange-30 w-25" ></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 my-2">
                    <div  class="alert-container shadow">
                        <div class="p-relative bg-white radius-8">
                            <div class="alert-content d-flex gap-4 px-3 align-items-center pt-2 pb-1">
                                <span class="text-alert black title-h4 fw-baill-bold">Standard</span>
                            </div>

                            <div class="price-duration pb-0 d-flex px-3 gap-10">
                                <h5 class="h5-baill gray-20">6 mois</h5>
                                <h5 class="h5-baill gray-20">75000 FCFA</h5>
                            </div>
                            
                            <h6 class="text-end small-text px-3 main-font-quick">25%</h6>
                            <div class="progress bg-blue-new" role="progressbar" aria-label="Warning example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar bg-blue w-25" ></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 my-2">
                    <div  class="alert-container shadow">
                        <div class="p-relative bg-white radius-8">
                            <div class="alert-content d-flex gap-4 px-3 align-items-center pt-2 pb-1">
                                <span class="text-alert black title-h4 fw-baill-bold">Premium</span>
                            </div>

                            <div class="price-duration pb-0 d-flex px-3 gap-10">
                                <h5 class="h5-baill gray-20">6 mois</h5>
                                <h5 class="h5-baill gray-20">75000 FCFA</h5>
                            </div>

                            <h6 class="text-end small-text px-3 main-font-quick">50%</h6>
                            <div class="progress bg-green-15" role="progressbar" aria-label="Warning example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar bg-green-main w-50 radius-left-8" ></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row px-3">
                <h1 class="h3-baill  pb-4 pt-5  black fw-baill-bold">Annonce par statuts</h1>

                <div class="status-item">
                    <h4 class="title-h4 green-main fw-baill-bold"> Publiées </h4>
                    
                    <h6 class="text-end small-text main-font-quick px-3">50%</h6>
                    <div class="h-8 radius-8 bg-green-15" role="progressbar" aria-label="Warning example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar h-8 bg-green-main w-50 radius-left-8" ></div>
                    </div>
                </div>

                <div class="status-item">
                    <h4 class="title-h4 green-main fw-baill-bold"> Publiées </h4>
                    
                    <h6 class="text-end small-text main-font-quick px-3">50%</h6>
                    <div class="h-8 radius-8 bg-blue-new" role="progressbar" aria-label="Warning example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar h-8 bg-blue w-50 radius-left-8" ></div>
                    </div>
                </div>
                <div class="status-item">
                    <h4 class="title-h4 green-main fw-baill-bold"> Publiées </h4>
                    
                    <h6 class="text-end small-text main-font-quick px-3">50%</h6>
                    <div class="h-8 radius-8 bg-orange-k5" role="progressbar" aria-label="Warning example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar h-8 orange-30 w-50 radius-left-8" ></div>
                    </div>
                </div>
                
                <div class="status-item">
                    <h4 class="title-h4 green-main fw-baill-bold"> Publiées </h4>
                    
                    <h6 class="text-end small-text main-font-quick px-3">50%</h6>
                    <div class="h-8 radius-8  bg-gray-15 " role="progressbar" aria-label="Warning example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar h-8 bg-dark w-50 radius-left-8" ></div>
                    </div>
                </div>
                
            </div>
        </div>


        <div class="row px-3">
            <h1 class="h3-baill  pb-4 pt-5 px-2 black fw-baill-bold">Utilisateurs bloqués</h1>

            <!-- tableau -->
            <div class="col-lg-7 scroll_x_table">
                <table class="table " id="dashboard_table">
                    <thead>
                        <tr class="border-bottom-1-green">
                            <th scope="col " class="bord">Nom utilisateur</th>
                            <th scope="col " class="bord">Durée du blocage</th>
                            <th scope="col " class="bord">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of anounceList track item; let  i = index">
                            <td class="bord-black">leo</td>
                            <td class="bord-black">il y’a 3 mois</td>
                            <td class="bord-black px-5">
                                <div class="bg-blue text-white px-2 py-1 rounded">Débloquer</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>

    </div>
</div>