<div class="modal-header align-items-center justify-content-between">
    <h5 class="h3-baill fw-baill-bold green-black" id="staticBackdropLabel">Modification d’une Catégorie</h5>
    <a class="icon-close finger" data-bs-dismiss="modal">
        <i class="fa-solid fa-xmark"></i>
    </a>
</div>
<div class="modal-body d-flex gap-10 align-items-center">
    <div class="group-form col-10">
        <label for="categoryName" class="d-flex categoryName h5-baill fw-baill-bold green-black">Nom catétegorie</label>
        <input type="text" class="input-field d-flex w-100 border-green-main">
    </div>
    <div class="col-2 pt-3">
        <a  class="btn_publish mx-auto rounded-pill">OK</a>
    </div>
</div>
