<div class="modal-header align-items-center justify-content-between">
    <h5 class="h3-baill fw-baill-bold green-black" id="staticBackdropLabel">Création d’une Catégorie</h5>
    <a class="icon-close finger" data-bs-dismiss="modal">
        <i class="fa-solid fa-xmark"></i>
    </a>
</div>
<div class="modal-body">
    <form action="" class="gap-10 align-items-center" (ngSubmit)="submitData()" [formGroup]="categoryForm" >
        <div class="group-form col-10 mb-3">
            <label for="categoryName" class="d-flex categoryName h5-baill fw-baill-bold green-black">Nom de la catégorie</label>
            <input type="text" formControlName="title" class="input-field d-flex w-100 border-green-main">
            <div *ngIf="(title.dirty && !title.valid)">
                <div class="" class="error" *ngIf="title.hasError('required')">
                    veuillez remplir ce champ 
                </div>
                <div class="" class="error" *ngIf="!title.hasError('required')">
                    Nombre maximal de caractères autorisés 128 
                </div>
            </div>
        </div>
        <div class="group-form col-10">
            <label for="categoryName" class="d-flex categoryName h5-baill fw-baill-bold green-black">Description</label>
            <input type="text" formControlName="description" class="input-field d-flex w-100 border-green-main">
            <div *ngIf="title.dirty && !title.valid">
                <div class="" class="error" *ngIf="description.hasError('required')">
                    veuillez remplir ce champ 
                </div>
                <div class="" class="error" *ngIf="!description.hasError('required')">
                    Nombre maximal de caractères autorisés 300 
                </div>
            </div>
        </div>
                       
        <div class="d-flex justify-content-center py-3">
            <button type="submit" class="btn_publish  rounded-pill">Enregistrer</button>
        </div>
    </form>
</div>
