<div class="products-hightlight-container mb-5">
    <h1 class="hightlight-title px-5 pt-3 my-4">
        {{'user.hightlight.title'| translate}}
    </h1>
    <div class="products-container py-77">
        <div class="container">
            <div id="carouselExampleInterval" *ngIf="highlights.length" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <ng-container *ngFor="let annouce_item of highlights; let i = index; trackBy: trackByAnnounce">
                        <div class="carousel-item" data-bs-interval="5000" [ngClass]="{'active': i === 0}">
                            <div class="higlight-item">
                                <div class="row align-items-center px-5">
                                    <div class="col-md-6">
                                        <div class="product-image" [style.background-image]="'url(' + annouce_item.url_image[0] + ')'">
                                        </div>
                                    </div>
                                    <div class="col-md-5 offset-md-1">
                                        <div class="product-text mb-2">
                                            <div class="product-name">
                                                <h4>
                                                    <i class="fas fa-map-marker-alt me-2" style="font-size: 30px;"></i>
                                                    {{annouce_item.location}}, {{annouce_item.neighborhood}}
                                                </h4>
                                                <h3 class="my-1">
                                                    {{annouce_item.title}}
                                                </h3>
                                            </div>
                                            <div class="product-price mb-2">
                                                <h2>
                                                    {{annouce_item.price | currency:'XAF':'symbol':'1.0-0':'fr-CM'}}
                                                </h2>
                                            </div>
                                            <div class="product-description mb-3">
                                                <h4>
                                                    {{annouce_item.description}}
                                                </h4>
                                            </div>
                                            <div class="other-details align-items-center row mt-3">
                                                <div class="location-address col-12">
                                                    <div class="two_icon" *ngIf="annouce_item.users?.whatsapp_number">
                                                        <a [href]="'tel:'+annouce_item.users?.whatsapp_number" target="_blank">
                                                            <i class="fa-solid fa-square-phone-flip" style="font-size: 23px;"></i> : +{{annouce_item.users?.whatsapp_number}}
                                                        </a>
                                                    </div>
                                                    <div class="two_icon col-12" *ngIf="annouce_item.users?.site_url">
                                                        <a [href]="'https://'+annouce_item.users?.site_url" target="_blank" rel="noopener noreferrer">
                                                            <i class="fas fa-globe" style="font-size: 21px;"></i> : {{annouce_item.users?.site_url}}
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="location-address col-12">
                                                    <div class="two_icon" *ngIf="annouce_item.users?.whatsapp_number">
                                                        <a [href]="'https://api.whatsapp.com/send?phone='+annouce_item.users?.whatsapp_number+'&text=Hello Bailleurnet&source=&data='" target="_blank" rel="noopener noreferrer">
                                                            <i class="fab fa-whatsapp" style="font-size: 24px;"></i> : +{{annouce_item.users?.whatsapp_number}}
                                                        </a>
                                                    </div>
                                                    <div class="two_icon" *ngIf="annouce_item.users?.email">
                                                        <a [href]="'mailto:'+annouce_item.users?.email+'?subject=' + subject + '&body=' + body" target="_blank">
                                                            <i class="fa-solid fa-envelope" style="font-size: 21px;"></i> : {{annouce_item.users?.email}}
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                    <i class="fa-solid fa-chevron-left"></i>
                    <span class="visually-hidden">{{'button.previous'| translate}}</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                    <i class="fa-solid fa-chevron-right"></i>
                    <span class="visually-hidden">{{'button.next'| translate}}</span>
                </button>
            </div>

            <div class="d-flex justify-content-center" *ngIf="!highlights.length">
                <h2 class="text-center h2-baill green-black fw-baill-bold">
                    {{'user.hightlight.no-content'| translate}}
                </h2>
            </div>
        </div>
    </div>
</div>
