.login-container{
    padding: 100px 70px;
    height: 100vh;
}

.siteName .logo{
    text-decoration: none;
    font-family: var(--main-font-Bree-Serif);
    font-size: var(--main-h1-font-size);
    font-weight: var(--main-md-font-weiht );
    line-height: 65.18px;
    text-align: left;
    color: var(--main-color);
}

.brand_size{
    width: 105px;
    height: 100px;
}

.login-description{
    line-height: var(--main-lg-line-height);
    font-weight: var(--main-md-font-weiht);
    font-size: var(--main-h3-font-size);
    text-align: left;
    padding: 40px 150px;
}

.circles-content{
    position: relative;
}

.large-cicle{
    position: relative;
    width: 134px;
    height: 126px;
    gap: 0px;
    opacity: 0px;
    border-radius:var(--main-radius-value-50);
    border: 10px solid var(--main-color-grenn-opa-53);
}

.medium-cicle{
    position: absolute;
    width: 65px;
    height: 65px;
    top: 77%;
    left: 82%;
    gap: 0px;
    opacity: 0px;
    border-radius: var(--main-radius-value-50);
    background-color: var(--main-color-grenn-opa-53);
}

.small-cirle{
    margin: 5% 15%;
    width: 23px;
    height: 22px;
    top: 139px;
    left: 55px;
    gap: 0px;
    opacity: 0px;
    border-radius: var(--main-radius-value-50);
    background-color: var(--main-color-orange);
}

.login-text{
    background: radial-gradient(51.78% 51.78% at 35.65% 48.22%, #CDF2B1 0%, #FFFFFF 90.5%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}