<div class="container-fluid">
    <div class="login-container">
        <div class="row">
            <div class="col-md-6">
                <div class="login-text">
                    <div class="siteName">
                        <a href="" class="logo ">
                            <img class="brand_size mx-0" src="../../../../assets/baill-logo.ico" alt="">
                            <span class="site_name">{{site_name}}</span>
                        </a>
                    </div>
                    <div class="login-description">
                        <p>Bienvenue chez Bailleurnet, la location à portée de main.</p>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="circles-content">
                                <div class="large-cicle">
                                    <div class="medium-cicle">
        
                                    </div>
                                </div>
                                <div class="small-cirle">
                                    
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 offset-md-5">

            </div>
        </div>
    </div>
</div>
