<div class="contaner-fluid px-4">
    <div class="page-title">
        <h1>{{'admin.ads.title'|translate}}</h1>
    </div>

    <div class="title-form py-4">
        <h4>{{'admin.ads.title-2'|translate}}</h4>
    </div>

    <div class="row">
        <form action="" class="px-lg-5" [formGroup]="anounces_form_datas" *ngIf="anounces_form_datas">
            <div class="row">
                <div class="col-md-5">
                    <div class="form_group gap-1 mb-4">
                        <label for="title" class="label-form mb-2">{{'admin.ads.title-3'|translate}}<span class="text-danger mx-2">*</span></label> 
                        <input type="text" [formControl]="title" class=" input_field input-field" required name="title" id="title" placeholder="voture toyota">
                        <div *ngIf="title.dirty && !title.valid">
                            <div class="" class="error" *ngIf="title.hasError('required')">
                                {{'admin.ads.error-message.title'|translate}}
                            </div>
                        </div>
                    </div>

                    <div class="form_group mb-4">
                        <label class="label-form mb-2" for="categorie">{{'admin.ads.category'|translate}}<span class="text-danger mx-2">*</span></label>
                        <select multiple name="categorie" id="categorie[]" class="input_field h-100px input-field" [formControl]="categorie" required="required">
                            <option *ngFor="let cast_item of categoriesList" [value]="cast_item.id">{{cast_item.title}}</option>
                        </select>
                        <div *ngIf="categorie.dirty && !categorie.valid">
                            <div class="" class="error" *ngIf="categorie.hasError('required')">
                                {{'admin.ads.error-message.category'|translate}} 
                            </div>
                        </div>
                    </div>

                    <div class="form_group gap-1 mb-4">
                        <label for="price" class="label-form mb-2">{{'admin.ads.price'|translate}} (XAF)<span class="text-danger mx-2">*</span></label> 
                        <input type="number" class=" input_field input-field"  [formControl]="price" name="price" id="price" placeholder="voture toyota">
                        <div *ngIf="price.dirty && !price.valid">
                            <div class="" class="error" *ngIf="price.hasError('required')">
                                {{'admin.ads.error-message.price'|translate}}
                            </div>
                        </div>
                    </div>

                    <div class="form_group gap-1 mb-4">
                        <label for="description" class="label-form mb-2">{{'admin.ads.description'|translate}}<span class="text-danger mx-2">*</span></label> 
                        <textarea name="description"  [formControl]="description" class="input_field input-field" required id="description" rows="5" cols="10"></textarea>
                        <div *ngIf="description.dirty && !description.valid">
                            <div class="" class="error" *ngIf="description.hasError('required')">
                                {{'admin.ads.error-message.description'|translate}} 
                            </div>
                            <div class="" class="error" *ngIf="!description.hasError('required')">
                                {{'admin.ads.error-message.description-2'|translate}} 
                            </div>
                        </div>
                    </div>

                    <!-- <div class="form_group gap-1 mb-4">
                        <label for="country" class="label-form mb-2">Pays<span class="text-danger mx-2">*</span></label> 
                        <input type="text" class=" input_field input-field"  [formControl]="country" name="country" id="country" placeholder="voture toyota">
                        <div *ngIf="country.dirty && !country.valid">
                            <div class="" class="error" *ngIf="country.hasError('required')">
                                veuiller renseigner ce champ 
                            </div>
                        </div>
                    </div> -->
                    <div class="form_group gap-1 mb-4">
                        <label for="country" class="label-form mb-2">{{'admin.ads.country'|translate}}<span class="text-danger mx-2">*</span></label> 
                        <select id="country"  (change)="onCountryChange($event)" [(ngModel)]="selectedCountry" [formControl]="country" name="country" class="input_field" required="required">
                            <option *ngFor="let country of countries" [value]="country.isoCode">{{ country.name }}</option>
                        </select>
                        <div *ngIf="country.dirty && !country.valid">
                            <div class="" class="error" *ngIf="country.hasError('required')">
                                {{'admin.ads.error-message.country'|translate}} 
                            </div>
                        </div>
                    </div>
                    <!-- <div class="form_group">
                        <label for="country">{{'user.signup.country'|translate}}</label><span>*</span>
                        <select id="country" [(ngModel)]="selectedCountry" (change)="onCountryChange($event)" [formControl]="country" name="country" class="input_field" required="required">
                            <option *ngFor="let country of countries" [value]="country.isoCode">{{ country.name }}</option>
                        </select>
                    </div> -->
                </div>

                <div class="offset-md-2 col-md-5">
                    <div class="form_group gap-1 mb-4">
                        <label for="location" class="label-form mb-2">{{'admin.ads.city'|translate}}<span class="text-danger mx-2">*</span></label> 
                        <!-- <input type="text" class=" input_field input-field"  name="location" [formControl]="location" required id="location" placeholder="voture toyota"> -->
                        <select [(ngModel)]="selectedCity" [formControl]="location" name="location" id="location" class="input_field" required="required">
                            <option *ngFor="let city of cities" [value]="city.name">
                                {{ city.name }}
                            </option>
                        </select>
                        <div *ngIf="location.dirty && !location.valid">
                            <div class="" class="error" *ngIf="location.hasError('required')">
                                {{'admin.ads.error-message.city'|translate}} 
                            </div>
                        </div>
                    </div>

                    <div class="form_group gap-1 mb-4">
                        <label for="neighborhood" class="label-form mb-2">{{'admin.ads.location'|translate}}<span class="text-danger mx-2">*</span></label> 
                        <input type="text" class=" input_field input-field" name="neighborhood" required id="neighborhood" [formControl]="neighborhood" placeholder="Yde, Damas 423">
                        <div *ngIf="neighborhood.dirty && !neighborhood.valid">
                            <div class="" class="error" *ngIf="neighborhood.hasError('required')">
                                {{'admin.ads.error-message.location'|translate}} 
                            </div>
                        </div>
                    </div>

                    <!-- <div class="error" *ngIf="email.dirty && !email.valid">
                        <p *ngIf="email.hasError('required')">
                            l'email est obligatoire
                        </p>
                        <p *ngIf="!email.hasError('required')">
                            l'email n'est ne respecte pas le bon format.
                        </p>
                    </div> -->

                    <!-- <div class="form_group gap-1 mb-4">
                        <label for="caract" class="label-form mb-2">Caractéristiques<span class="text-danger mx-2">*</span></label> 
                        <div class="cateristics">
                            <div class="row">
                                <div class="col-md-2">
                                    <button class="add_caract my-2" >
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="input_field input-field my-2 "  name="categories" id="categories"  placeholder="Ajouter une catgorie">
                                </div>
                            </div>

                            <ng-container *NgFor="category of categoriesList track image; let  i = index">
                                <div *ngIf="i < 2" class="row py-2 align-items-center category_row">
                                    <div class="col-3">
                                        <div class="tag-caract">
                                            Taille
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <input type="text" class="input_field input-field"  name="sub-categories" id="sub-categories" value="1567 x 123" placeholder="valeur">
                                    </div>
                                    <div class="col-1">
                                        <i class="fa-solid fa-xmark"></i>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div> -->

                    <div class="form_group gap-1 mb-4">
                        <app-image-view (imageList_)="getImagesList($event)"></app-image-view >
                        <p class="error" *ngIf="errorMessages">
                            {{errorMessages}}
                        </p>
                    </div>

                </div>
            </div>
            <div class="row mx-0 gap-4 py-4 align-items-center fixe_btn_actions">
                <!--<button type="button" class="btn btn-primary col-6"  [disabled]="!this.anounces_form_datas.valid && !valiData" id="create" (ngSubmit)="handleSubmit()" data-bs-toggle="modal"   data-bs-target="#forfaitList" class="btn-form bg_green">-->
                <button type="button" class="btn btn-primary col-6"  [disabled]="!this.anounces_form_datas.valid && !valiData" id="create" data-bs-toggle="modal"   data-bs-target="#forfaitList" class="btn-form bg_green">
                    {{'button.create-and-publish'|translate}}
                </button>
                <!-- <button type="button" class="btn btn-primary col-6"  [disabled]="this.anounces_form_datas.valid && valiData" id="create" data-bs-toggle="modal"   data-bs-target="#forfaitList" class="btn-form bg_green">
                    {{'button.create-and-publish'|translate}}
                </button> -->
                <button type="submit" (click)="handleSubmit(null)"  [disabled]="!this.anounces_form_datas.valid && !valiData" class="btn-form bg_blue my-4 col-6" >{{'button.save'|translate}}</button>
            </div>
        </form>
    </div>
</div>
<!-- Button trigger modal -->
<div class="modal fade" id="forfaitList" data-bs-backdrop="static"  data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" >
    <div class="modal-dialog m_auto modal-dialog-centered modal-dialog  modal-xl modal-dialog-centered" id="my-model-forfait">
        <app-forfait-list (hasSubmit)="handleSubmit($event)" class="m_auto w-100"></app-forfait-list>
    </div>
</div>

<div class="payment-method-container" [ngClass]="{'d-none' : !showPayForm}" *ngIf="paymentList?.length >= 1">
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-12 mx-auto">
                    <div class="payment-list pb-5">
                        <div class="title-list">
                            <h3 class="mb-0 pb-lg-5 pb-md-4 pb-3 text-secondary">{{'admin.ads.select-payment'|translate}}</h3>
                        </div>
                        <!--
                        <div class="title-list">
                            <h3 class="mb-0 pb-lg-5 pb-md-4 pb-3">{{'admin.ads.select-payment'|translate}}</h3>
                        </div>
                        -->
                        <div class="list-body pt-md-4 pt-3">
                            <ng-container *ngFor="let itemPay of paymentList">
                                <app-payment-item (payDatas)="storeAndPayAnnouce($event)" [itemPay] = "itemPay" class="w-95"></app-payment-item>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>