<div class="contaner-fluid px-4">
    <div class="page-title">
        <h1>Annonces</h1>
    </div>

    <div class="title-form py-4">
        <h4>Formulaire de création d’une annonce</h4>
    </div>

    <div class="row">
        <form action="" class="px-5">
            <div class="row">
                <div class="col-md-5">
                    <div class="form_group gap-1 mb-4">
                        <label for="title" class="label-form mb-2">Titre<span class="text-danger mx-2">*</span></label> 
                        <input type="text" [formControl]="title" class=" form-control input-field" required name="title" id="title" placeholder="voture toyota">
                    </div>

                    <div class="form_group mb-4">
                        <label class="label-form mb-2" for="category">Catégorie<span class="text-danger mx-2">*</span></label>
                        <select multiple name="category" id="category" class="form-control input-field" [formControl]="category_id" required="required">
                            <option value="1">Services Professionnels</option>
                            <option value="2">Matériel et Equipements</option>
                            <option value="3">Evenement et Services</option>
                            <option value="4" selected>Vehicules et Transport</option>
                        </select>
                    </div>

                    <div class="form_group gap-1 mb-4">
                        <label for="price" class="label-form mb-2">Prix (FCFA)<span class="text-danger mx-2">*</span></label> 
                        <input type="number" class=" form-control input-field"  [formControl]="price" name="price" id="price" placeholder="voture toyota">
                    </div>

                    <div class="form_group gap-1 mb-4">
                        <label for="description" class="label-form mb-2">Description<span class="text-danger mx-2">*</span></label> 
                        <textarea name="description"  [formControl]="description" class="form-control input-field" required id="description" rows="5" cols="10"></textarea>
                    </div>

                    <div class="form_group gap-1 mb-4">
                        <label for="country" class="label-form mb-2">Pays<span class="text-danger mx-2">*</span></label> 
                        <input type="text" class=" form-control input-field"  [formControl]="country" name="country" id="country" placeholder="voture toyota">
                    </div>
                </div>

                <div class="offset-md-2 col-md-5">
                    <div class="form_group gap-1 mb-4">
                        <label for="city" class="label-form mb-2">Ville<span class="text-danger mx-2">*</span></label> 
                        <input type="text" class=" form-control input-field"  name="city" required id="city" placeholder="voture toyota">
                    </div>

                    <div class="form_group gap-1 mb-4">
                        <label for="address" class="label-form mb-2">Lieu dit<span class="text-danger mx-2">*</span></label> 
                        <input type="text" class=" form-control input-field" name="address" required id="address" placeholder="Yde, Damas 423">
                    </div>

                    <!-- <div class="error" *ngIf="email.dirty && !email.valid">
                        <p *ngIf="email.hasError('required')">
                            l'email est obligatoire
                        </p>
                        <p *ngIf="!email.hasError('required')">
                            l'email n'est ne respecte pas le bon format.
                        </p>
                    </div> -->

                    <!-- <div class="form_group gap-1 mb-4">
                        <label for="caract" class="label-form mb-2">Caractéristiques<span class="text-danger mx-2">*</span></label> 
                        <div class="cateristics">
                            <div class="row">
                                <div class="col-md-2">
                                    <button class="add_caract my-2" >
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-field my-2 "  name="categories" id="categories"  placeholder="Ajouter une catgorie">
                                </div>
                            </div>

                            <ng-container *NgFor="category of categoriesList track image; let  i = index">
                                <div *ngIf="i < 2" class="row py-2 align-items-center category_row">
                                    <div class="col-3">
                                        <div class="tag-caract">
                                            Taille
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <input type="text" class="form-control input-field"  name="sub-categories" id="sub-categories" value="1567 x 123" placeholder="valeur">
                                    </div>
                                    <div class="col-1">
                                        <i class="fa-solid fa-xmark"></i>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div> -->

                    <div class="form_group gap-1 mb-4">
                        <app-image-view (imageList_)="getImagesList($event)"></app-image-view >
                    </div>
                </div>
            </div>
            <div class="row mx-0 gap-4 py-4 align-items-center">
                <button type="button" class="btn btn-primary" id="create" data-bs-toggle="modal" data-bs-target="#forfaitList" class="btn-form bg_green">
                    Creer & publier
                    <app-forfait-list (hasSubmit)="handleSubmit($event)"></app-forfait-list>
                </button>
                <button type="button" (click)="handleSubmit(null)" class="btn-form bg_blue my-4" >Enregistrer</button>
            </div>
        </form>
    </div>
</div>