.bail-list-ul li{
    padding: 11px 0px;
}

.image-item{
    background-color: transparent;
    height: calc(130px);
    width: 100%;
    position: relative;
    border-radius: var(--main-radius-value-3);
}

.images-list-fieldset{
    border-radius: var(--main-radius-value-3);
    border: 1px solid var(--main-color-gray-7);
}

.page-link{
    cursor: pointer;
}

