<div class="annouce-details-container px-4 container">
    <div class="detail-title mb-30">
        <h2 class="h2-baill h2-baill fw-baill-bold">{{'admin.annouce-details.page-title' | translate}}</h2>
    </div>

    <div class="row px-lg-5 mx-3">
        <div class="col-lg-6 px-0">
            <ul class="bail-list-ul">
                <li class="h4-baill">
                    <span class="green-black fw-baill-bold pe-2 ">{{'admin.annouce-details.field.title' | translate}} : </span>
                    <span class="black fw-baill-medium-bold pe-3"> {{annouce?.title}}</span>
                </li>
                <li class="h4-baill">
                    <span class="green-black fw-baill-bold pe-2">{{'admin.annouce-details.field.price' | translate}} : </span>
                    <span class="black fw-baill-medium-bold pe-3"> {{annouce?.price | currency:'XAF':'symbol':'1.0-0':'fr-CM'}}</span>
                </li>
                <li class="h4-baill">
                    <span class="green-black fw-baill-bold pe-2">{{'admin.annouce-details.field.country' | translate}} : </span>
                    <span class="black fw-baill-medium-bold pe-3"> {{annouce?.country | getContryByCode}}</span>
                </li>
                <li class="h4-baill">
                    <span class="green-black fw-baill-bold pe-2">{{'admin.annouce-details.field.city' | translate}} : </span>
                    <span class="black fw-baill-medium-bold pe-3"> {{annouce?.location}}</span>
                </li>
                <li class="h4-baill">
                    <span class="green-black fw-baill-bold pe-2">{{'admin.annouce-details.field.location' | translate}} : </span>
                    <span class="black fw-baill-medium-bold pe-3"> {{annouce?.neighborhood}}</span>
                </li>
                <li class="h4-baill">
                    <span class="green-black fw-baill-bold pe-2">{{'admin.annouce-details.field.description' | translate}} : </span>
                    <span class="black fw-baill-medium-bold pe-3 "> {{annouce?.description}}</span>
                </li>
            </ul>
        </div>

        <div class="col-lg-6 ps-lg-5">
            <div class="image-list mb-4">
                <div class="row">
                    <h4 class="h4-baill px-0 mb-8 fw-baill-bold green-black">
                        {{'admin.annouce-details.section.images' | translate}}
                    </h4>
                </div>
                <div class="row images-list-fieldset wrap">
                    <div class="col-lg-3 px-2 py-2" *ngFor="let imageItem of imagesList">
                        <div class="image-item baill-bg-img"  [ngStyle]="{'background-image': 'url('+imageItem+')'}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="categories-list row">
                <h4 class="h4-baill px-0 fw-baill-bold mb-8 green-black">
                    {{'admin.annouce-details.section.categories' | translate}}
                </h4>
                <div class="d-flex g-10 px-0 wrap">
                    <button *ngFor="let itemCategory of annouce?.categories" class="bg-white green-main  rounded-30  btn-medium main-font-quick border-green-1">{{itemCategory.title}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row pt-5">
        <div class="col-lg-5">
            <div class="d-flex g-10 px-3 px-lg-0 wrap">
                <a *ngIf="annouce?.status == '1' && !isAdmin" [title]="'admin.annouce-details.action.publish' | translate" id="create" data-bs-toggle="modal" data-bs-target="#forfaitList">
                    <button class="bg-green-main main-white border-none main-font-quick btn-medium rounded-30">{{'admin.annouce-details.action.publish' | translate}}</button>
                    <app-forfait-list (hasSubmit)="handleSubmit($event, annouce?.id)"></app-forfait-list>
                </a>
                <a *ngIf="annouce?.status == '1' && !isAdmin" [title]="'admin.annouce-details.action.delete' | translate">
                    <button class="bg-red main-white border-none main-font-quick btn-medium rounded-30 ">{{'admin.annouce-details.action.delete' | translate}}</button>
                </a>
                <a *ngIf="annouce?.status == '2' && !isAdmin" [title]="'admin.annouce-details.action.republish' | translate" (click)="setAnnouceStatus(annouce?.id, '3')">
                    <button class="bg-blue main-white border-none main-font-quick btn-medium rounded-30 ">{{'admin.annouce-details.action.republish' | translate}}</button>
                </a>
                <a *ngIf="annouce?.status == '3' && !isAdmin" [title]="'admin.annouce-details.action.pause' | translate" (click)="setAnnouceStatus(annouce?.id, '2')">
                    <button class="bg-gray-1 balck border-none main-font-quick btn-medium rounded-30 ">{{'admin.annouce-details.action.pause' | translate}}</button>
                </a>
                <a *ngIf="annouce?.status == '0' && !isAdmin" [title]="'admin.annouce-details.action.relaunch' | translate">
                    <button class="bg-white green-main  rounded-30  btn-medium main-font-quick border-green-1">{{'admin.annouce-details.action.relaunch' | translate}}</button>
                </a>

                <div *ngIf="annouce.status !== '-1' && isAdmin" class="bg-danger text-white px-2 py-1 rounded" (click)="handleConfirmDisabled(true, '1')">{{'admin.annouce-details.action.block' | translate}}</div>
                <div *ngIf="annouce.status == '-1' && isAdmin" class="bg-secondary text-white px-2 py-1 rounded" (click)="handleConfirmDisabled(true, '-1')">{{'admin.annouce-details.action.unblock' | translate}}</div>
                <app-alert-confirm *ngIf="showAlert" (confirmAction)="setAnnouceStatus(annouce?.id, {key : annouce})"></app-alert-confirm>
            </div>
        </div>
    </div>
</div>
