<div class="aside px-lg-4">
    <div class="row">
        <div class="col-12 label-site d-flex justify-content-center">
            <a href="#" class="navbar-brand relative d-flex align-items-center">
                <img class="brand-logo mx-0" src="../../../../assets/baill-logo.ico" alt="">
                <span class="site_name">{{siteName}}</span>
            </a>
        </div>
    </div>

    <div class="row justify-content-center content-card">
        <div class="card">
            <div class="row g-0 finger" [routerLink]="['/admin/myAccount']" aria-current="page" >
                <div class="col-md-4 m-auto">
                    <div class="image-profile img-profile" style="background-image: url('../../../../assets/images/image-user.jpeg');">

                    </div>
                    <!-- <img src="../../../../assets/images/image-user.jpeg" class="img-fluid rounded-5 image-aside" alt="..."> -->
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h4 class="card-title">{{userName}}</h4>
                    <p class="card-text"><small class="text-body-secondary">{{email}}</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row d-flex element">
        <div class="col-md-12 d-flex p-0 justify-content-start mb-4">
            <ul class="element-list w-100 p-0">
                <li class="item-list" routerLinkActive="active">
                    <a [routerLink]="['/admin/dashboard']" aria-current="page">
                        <svg routerLinkActive="active"  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-columns-gap" viewBox="0 0 16 16">
                            <path d="M6 1v3H1V1zM1 0a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1zm14 12v3h-5v-3zm-5-1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1zM6 8v7H1V8zM1 7a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1zm14-6v7h-5V1zm-5-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1z"/>
                        </svg> 
                        <p>Tableau de bord</p>
                    </a>
                </li>
                <li class="item-list" routerLinkActive="active">
                    <a [routerLink]="['/admin/announces']" aria-current="page">
                        <i class="fa-sharp-duotone fa-solid fa-bullhorn" routerLinkActive="active"></i>
                        <p>Annonces</p>
                    </a>       
                </li>
                <li class="item-list" routerLinkActive="active">
                    <a  [routerLink]="['/admin/settings']" aria-current="page">
                        <i class="fa-solid fa-gear" routerLinkActive="active"></i> 
                        <p>Paramètre</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-12 p-0 mt-5">
            <div class="row m-0 p-0">
                <div class="col-md-12 p-0 d-flex justify-content-end content-logout ">
                    <button type="button" class="btn d-flex align-items-center ">
                        <p>Déconnexion</p>
                        <!-- <i class="fa-solid fa-right-from-bracket"></i> -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left fw-bolder" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"/>
                            <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>