<div class="iv-container">
    <label for="imagesList" class="label-form mb-2">
        {{'admin.ads.picture' | translate}} <span class="iv-req">*</span>
    </label>

    <div class="iv-grid">
        <!-- Vignettes existantes -->
        <div *ngFor="let image of imageList; let i = index" class="iv-thumb">
            <div class="iv-thumb-img" [style.backgroundImage]="'url(' + image + ')'">
                <button type="button" class="iv-delete-btn" (click)="deleteImage(i)" [title]="'button.delete' | translate">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
        </div>

        <!-- Bouton ajout -->
        <div class="iv-add-cell" *ngIf="imageList.length < 8">
            <input type="file" name="images[]" class="d-none" id="imagesList"
                   accept="image/jpeg,image/png,image/webp,image/gif" multiple
                   (change)="addImage($event)" />
            <button type="button" class="iv-add-btn" (click)="handleAddImage()" [disabled]="isChecking">
                <ng-container *ngIf="!isChecking">
                    <i class="fa-solid fa-plus iv-add-icon"></i>
                    <span class="iv-add-label">{{'admin.ads.add-photo' | translate}}</span>
                </ng-container>
                <ng-container *ngIf="isChecking">
                    <i class="fa-solid fa-spinner fa-spin iv-add-icon"></i>
                    <span class="iv-add-label">{{'admin.ads.checking-photo' | translate}}</span>
                </ng-container>
            </button>
        </div>
    </div>

    <!-- Contraintes -->
    <div class="iv-hints">
        <span><i class="fa-solid fa-circle-info"></i> {{'admin.ads.image-hint.count' | translate}}</span>
        <span><i class="fa-solid fa-weight-hanging"></i> {{'admin.ads.image-hint.size' | translate}}</span>
        <span><i class="fa-solid fa-expand"></i> {{'admin.ads.image-hint.dimension' | translate}}</span>
    </div>

    <!-- Message d'erreur -->
    <div *ngIf="errorMessage" class="iv-error">
        <i class="fa-solid fa-triangle-exclamation"></i> {{errorMessage}}
    </div>
</div>
