<div class="signup-content">
    <div class="alert-message">
        <app-alert *ngIf="display_message" (timeOut) ="closeAlert($event)" [message] = "message_alert"></app-alert>
    </div>
    <div class="content">
        <div class="row signup ">
            <div class="col-md-8 content-left">
                <form action="" method="post" [formGroup]="signupForm">
                    <div class="row">
                        <div class="title text-center">
                            <h2>{{'user.signup.title'|translate}}</h2>
                            <p>{{'user.signup.text-account'|translate}}, <a class="" [routerLink]="['/signin']">{{'user.signup.login-text'|translate}}</a></p>
                        </div>
                    </div>
                    <div class="row tab">
                        <div class="col-md-6 tab_1">
                            <div class="form-group">
                                <label for="username">{{'user.signup.username'|translate}}</label> <span>*</span>
                                <input id="username" class="form-control" type="text" [formControl]="username" name="username">
                            </div>
                            <div class="error" *ngIf="username.dirty">
                                <p *ngIf="username.hasError('required')">
                                    {{'user.signup.message.error.username'|translate}}
                                </p>
                            </div>
                            <div class="form-group">
                                <label for="name">{{'user.signup.name'|translate}}</label><span>*</span>
                                <input id="name" class="form-control" type="text" [formControl]="last_name" name="last_name">
                            </div>
                            <div class="error" *ngIf="last_name.dirty">
                                <p *ngIf="last_name.hasError('required')">
                                    {{'user.signup.message.error.name'|translate}}
                                </p>
                            </div>
                            <div class="form-group">
                                <label for="first_name">{{'user.signup.first-name'|translate}}</label><span>*</span>
                                <input id="first_name" class="form-control" type="text" [formControl]="first_name" name="first_name">
                            </div>
                            <div class="error" *ngIf="first_name.dirty">
                                <p *ngIf="last_name.hasError('required')">
                                    {{'user.signup.message.error.first-name'|translate}}
                                </p>
                            </div>
                            <div class="form-group">
                                <label for="email">{{'user.signup.email'|translate}}</label><span>*</span>
                                <input id="email" class="form-control" type="email" [formControl]="email" name="email">
                            </div>
                            <div class="error" *ngIf="email.dirty && !email.valid">
                                <p *ngIf="email.hasError('required')">
                                    {{'user.signup.message.error.email-1'|translate}}
                                </p>
                                <p *ngIf="!email.hasError('required')">
                                    {{'user.signup.message.error.email-2'|translate}}
                                </p>
                            </div>
                            <div class="form-group">
                                <label for="phone">{{'user.signup.whatsapp-number'|translate}}</label><span>*</span>
                                <div class="d-flex justify-content-center">
                                    <input type="text" [value]="'+'+phoneCode" disabled style="width: 15%; border-top-right-radius: 0; border-bottom-right-radius: 0; padding: 0px !important;" class="form-control" readonly>
                                    <input id="phone" class="form-control" type="number" [formControl]="whatsapp_number" name="whatsapp_number" style="width: 85%; border-top-left-radius: 0; border-bottom-left-radius: 0;">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 tab_2">
                            <div class="form-group">
                                <label for="country">{{'user.signup.country'|translate}}</label><span>*</span>
                                <select id="country" [(ngModel)]="selectedCountry" (change)="onCountryChange($event)" [formControl]="country" name="country" class="form-control" required="required">
                                    <option *ngFor="let country of countries" [value]="country.isoCode">{{ country.name }}</option>
                                </select>
                            </div>
                            <div class="error" *ngIf="country.dirty">
                                <p *ngIf="country.hasError('required')">
                                    {{'user.signup.message.error.country'|translate}}
                                </p>
                            </div>
                            <div class="form-group">
                                <label for="city">{{'user.signup.city'|translate}}</label>
                                <select [(ngModel)]="selectedCity" [formControl]="city" name="city" id="city" class="form-control" required="required">
                                    <option *ngFor="let city of cities" [value]="city.name">
                                        {{ city.name }}
                                    </option>
                                </select>
                            </div>
                            <div class="error" *ngIf="city.dirty">
                                <p *ngIf="city.hasError('required')">
                                    {{'user.signup.message.error.city'|translate}}
                                </p>
                            </div>
                            <div class="form-group">
                                <label for="neighborhood">{{'user.signup.neighborhood'|translate}}</label>
                                <input id="neighborhood" class="form-control" type="text" [formControl]="neighborhood" name="neighborhood">
                                
                            </div>
                            <div class="error" *ngIf="neighborhood.dirty">
                                <p *ngIf="city.hasError('required')">
                                    {{'user.signup.message.error.neighborhood'|translate}}
                                </p>
                            </div>
                            
                            <div class="form-group">
                                <label for="password">{{'user.signup.password'|translate}}</label><span>*</span>
                                <input id="password" class="form-control" type="password" [formControl]="password" formControlName="password"name="password">
                            </div>
                            <div class="error" *ngIf="password.dirty && !password.valid">
                                <p *ngIf="password.hasError('required')">
                                    {{'user.signup.message.error.password'|translate}}
                                </p>
                                
                                <p *ngIf="password.hasError('minlength')">
                                    {{'user.signup.message.error.password-1'|translate}}
                                </p>
                            </div>
                            <div class="form-group">
                                <label for="confimpassword">{{'user.signup.confirm-password'|translate}}</label><span>*</span>
                                <input id="confimpassword" class="form-control" type="password" [formControl]="passwordConfirm" formControlName="passwordConfirm" name="passwordConfirm">
                            </div>
                            <div class="error" *ngIf="passwordConfirm.dirty && !passwordConfirm.valid">
                                <p *ngIf="passwordConfirm.hasError('required')">
                                    {{'user.signup.message.error.confirm-password'|translate}}
                                </p>
                                <p *ngIf="signupForm.errors?.['passwordsDoNotMatch'] && passwordConfirm?.touched">
                                    {{'user.signup.message.error.confirm-password-1'|translate}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row signup-button mb-3">
                        <div class="col-12">
                            <button type="submit" [disabled]="!this.signupForm.valid" (click)="handleSubmit()" class=" text-center d-flex justify-content-center align-items-center m-auto">
                                <p class="m-0">{{'user.signup.login-text'|translate}}</p>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4 content-right">
                <div class="row label-site">
                    <div class="col-12 d-flex justify-content-end">
                        <a href="#" class="navbar-brand relative d-flex align-items-center">
                            <img class="brand-logo mx-0" src="../../../../assets/baill-logo.ico" alt="">
                            <span class="site_name">{{siteName}}</span>
                        </a>
                    </div>
                </div>
                <div class="row d-flex justify-content-center signup-text">
                    <div class="col-md-12">
                        <P class="text-end signup-text-right">{{'user.signup.text-line-1'|translate}} <br> {{'user.signup.text-line-2'|translate}} <br>{{'user.signup.text-line-3'|translate}}</P>
                    </div>
                </div>
                <div class="row d-flex justify-content-start signup-image-content">
                    <div class="col-md-12 signup-image">
                        <img class="image mx-0" src="../../../../assets/images/image-signup.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
