.categories-container{
    background-color: var(--main-color-white);
    border-radius: var(--main-radius-value-20);
    /* box-shadow: var( --main-shadow-green); */
    box-shadow: 0px 8px 15px 0px rgba(197, 242, 177, 0.82);
    height: fit-content;
}

.title-list h2{
    margin: 0;
    font-size: var(--main-h2-font-size);
    font-weight: var(--main-xl-font-weiht);
    line-height: 45px;
    text-align: left;
    color: var(--main-color);
}

ul.categories{
    list-style: none;
    padding: 20px 0px;
}

ul.categories li{
    font-size: var(--main-h4-font-size);
    font-weight: var(--main-xl-font-weiht);
    line-height: var(--main-md-line-height);
    color: var(--main-color-dark);
    text-align: left;
}

.active_category{
    color: var(--main-color-orange) !important;
}

.filter-tag{
    padding: 6px 15px 6px 15px;
    gap: var(--gap-10);
    border-radius: var(--main-radius-value-30);
    border: 1px solid var(--main-color);
    opacity: 0px;
    color: var(--main-color);
    background-color: var(--main-color-white);
}

.filter-tag:hover{
    background-color: var(--main-color-green-5);
}

.fields-price label{
    font-size: var(--main-h4-font-size);
    font-weight: var(--main-xl-font-weiht);
    line-height: var(--main-md-line-height);
    color: var(--main-color-dark);
    text-align: left;
}

.sm-input-field{
    padding:  var(--main-btn-sm-tag-padd);
    border-radius: var(--main-radius-value-3);
    background-color: rgba(242, 242, 242, 0.39);
    color: var(--main-color-gray-7);
    border: 1px solid rgba(242, 242, 242, 1);
}

