li.active .page-link, li .page-link{
    height: 41px;
    width: 41px;
    text-align: center;
    padding: 7px;
    border-radius: 50%;
    color: var(--main-color-dark);
    border: none;
}

.paginate-list li a.next, .paginate-list li a.prev {
    background-color: var(--main-color-orange);
    border: 1px solid var(--main-color-orange);
}

.page-item.active .page-link{
    background-color: var(--main-color-green-15);
    border: 1px solid var(--main-color-green-15);
}

.paginate-list li a.next:hover, .paginate-list li a.prev:hover{
    background-color: var(--main-color-blackgreen);
    color: var(--main-color-orange);
    border: 1px solid  var(--main-color-blackgreen);
}   

li.active .page-link, li .page-link:hover{
    border: 1px solid  var(--main-color-green-15);
}   
