<nav aria-label="...">
  <ul class=" paginate-list pagination d-flex gap-3 align-items-center justify-content-center">
    <li class="page-item" *ngIf="previous" >
      <a  class="nav-link prev page-link" (click)="SetCurrentPage('prev')">
          <i class="fa-solid fa-arrow-left"></i>
      </a>
    </li>
    
    <li class="page-item" *ngIf="previous">
      <a class="page-link" (click)="SetCurrentPage(previous)">{{previous}}</a>
    </li>
    <li class="page-item active" aria-current="page">
      <span class="page-link">{{currentPage}}</span>
    </li>
    <li class="page-item" *ngIf="next">
      <a class="page-link" (click)="SetCurrentPage(next)" >{{next}}</a>
    </li>
    
    <li class="page-item" *ngIf="next">
      <a  class="nav-link next page-link"(click)="SetCurrentPage('next')" >
          <i class="fa-solid fa-arrow-right"></i>
      </a>
    </li>
  </ul>
</nav>