<div class="container-fluid p-0">
    <form action="" (ngSubmit)="UpdateProfil()" class="px-5">
        <div class="row">
            <h2 class="title-h2 mb-4">Mon compte</h2>
            <div class="col-md-3">
                <div class="form_group mb-3">
                    <label for="name" class="label-form mb-1">Nom</label>
                    <input type="text" name="name" class="input_field" [(ngModel)]="user.last_name" id="name">
                </div>
                <div class="form_group mb-3">
                    <label for="userName" class="label-form mb-1">Nom d’utilisateur</label>
                    <input type="text" name="userName" class="input_field" [(ngModel)]="user.username" id="userName"/>
                </div>
                <div class="form_group mb-3">
                    <label for="email" class="label-form mb-1">Email</label>
                    <input type="email" name="email" class="input_field"  [(ngModel)]="user.email" id="email"/>
                </div>
                <div class="form_group mb-3">
                    <label for="phone" class="label-form mb-1">Télephone (WhatsApp)</label>
                    <input type="tel" name="phone" class="input_field"  [(ngModel)]="user.whatsapp_number" id="phone"/>
                </div>

                <div class="checkbox-input">
                    <label for="" class="label-form mb-1">Sexe</label>
                    <div class="form-check d-flex gap-3">
                        <div class="check-item d-flex gap-1">
                            <input type="radio" class="form-check rounded-circle" [(ngModel)]="user.sex" name="sexe" id="H" [checked]="user.sex == true">
                            <label for="H" class="fs-6" >H</label>
                        </div>
                        <div class="check-item d-flex gap-1">
                            <input type="radio"  class="form-check" [(ngModel)]="user.sex" name="sexe" id="F" [checked]="user.sex == false">
                            <label for="F" class="fs-6" >F</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 offset-md-1">
                <div class="form_group mb-3">
                    <label for="country" class="label-form mb-1">Pays</label>
                    <!-- <input type="text" name="country" class="input_field" value="{{user?.country}}" id="country"> -->
                    <select id="country" [(ngModel)]="selectedCountry" (change)="onCountryChange($event)" name="country" class="form-control" required="required">
                        <option *ngFor="let country of countries" [value]="country.isoCode">{{ country.name }}</option>
                    </select>
                    <!-- <i class="fa-solid fa-chevron-down text-success"></i> -->
                    <i class="fa-solid fa-sort-down text-success" style="position:relative; bottom: 22px; left: Opx;"></i>
                </div>
                <div class="form_group mb-3">
                    <label for="city" class="label-form mb-1">Ville</label>
                    <!-- <input type="text" name="city" class="input_field" value="{{user?.city}}" id="city"> -->
                    <select [(ngModel)]="selectedCity" name="city" id="city" class="form-control" required="required">
                        <option *ngFor="let city of cities" [value]="city.name" [selected]="city.name == user.city">
                            {{ city.name }}
                        </option>
                    </select>
                </div>
                <div class="form_group mb-3">
                    <label for="neighborhood" class="label-form mb-1">Quartier</label>
                    <input type="text" name="neighborhood" class="input_field" [(ngModel)]="user.neighborhood" id="neighborhood">
                </div>
                <div class="form_group mb-3">
                    <label for="site_url" class="label-form mb-1">Lien du site web</label>
                    <input type="text" name="site_url" class="input_field"[(ngModel)]="user.site_url" id="site_url">
                </div>
                <div class="form_group mb-3">
                    <label for="cni" class="label-form mb-1">Numero CNI</label>
                    <input type="text" name="cni" class="input_field" [(ngModel)]="user.cni" id="cni">
                </div>
            </div>

            <div class="col-md-3  text-center offset-md-1">
                <i class="fa-solid fa-user profil-user"></i>

                <div class="update-picture justify-content-center d-flex align-items-center gap-2">
                    <span>Photo</span>
                    <label for="picture">
                        <input type="file" class="d-none" name="picture" id="">
                        <button class="add_caract my-2">
                            <i class="fa-solid fa-pen"></i>
                        </button>
                    </label>
                </div>

                <div class="field-password py-3 px-5 my-3">
                    <h3 class="text-start py-3">Securité</h3>
                    <label for="password" class="password-pass d-flex justify-content-start mb-2">Mot de pass</label>
                    <div class="d-flex gap-3 pb-1 align-items-center">
                        <div class="password-input-group">
                            <input type="{{type}}" name="password" [(ngModel)]="user.password" class="password-profile" id="password">
                            <i class="fa-solid fa-eye{{icon_eyes}} icon_pass" (click)="chanIcon($event)"></i>
                        </div>
                        <button class="add_caract">
                            <i class="fa-solid fa-pen text-white"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn-form bg_blue">Modifier les champs</button>
    </form>
</div>
