<nav class="nav-bar">
    <!-- <div class="container-fluid"> -->
        <div class="row nav-content">
            <div class="col-md-6 float-start">
                <ul>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="col-md-6">
                <div class="d-flex justify-content-center">
                    <button type="submit" id="publish-button" class="btn btn-success"><i class="fa-solid fa-plus  text-white"></i> Se connecter</button>
                </div>
            </div>
        </div>
    <!-- </div> -->
</nav>
