.image-item .firs-image{
    background-size:auto;
    background-repeat: no-repeat !important;
}

.image-item{
    background-position-y: center;
    background-position-x: center;
    width: 100%;
    height: 153px;
    border-radius: 4px;
}

.firs-image{
    border-radius: 10px;
    background-position-y: center;
    height: 450px;
}

.image-active{
    box-shadow: 0px 0px 7px 0px #000000A1;
    height: 165px;
}

/* texte */
    .produc-info-details .category-name h5{
        font-size: var(--main-h5-font-size);
        font-weight: var(--main-xl-font-weiht);
        line-height: 22.75px;
        text-align: left;
        margin: 0px;
        color: var(--main-color);
        font-family: var(--main-font-Quicksand);
    }


    .produc-info-details .product-name h2{
        font-family: var(--main-font-Quicksand);
        font-size: var(--main-h2-font-size);
        font-weight: var(--main-xl-font-weiht);
        line-height: var(--main-lg-line-login);
        color: var(--main-color-dark);
        text-align: left;
        margin: 0;
    }


    .produc-info-details .priduct-price h3{
        font-family: var(--main-font-Quicksand);
        font-size: var(--main-h3-font-size);
        font-weight: var(--main-xl-font-weiht);
        line-height: var(--main-lg-line-login);
        color: var(--main-color-dark);
        text-align: left;
        margin: 0;
    }

    .title{
        font-family: var(--main-font-Quicksand);
        font-size: var(--main-h4-font-size);
        line-height: var(--main-lg-line-login);
        color: var(--main-color-blackgreen);
        font-weight: var(--main-xl-font-weiht);
        text-align: left;
    }

    .produc-info-details .product-description p, .produc-info-details .product-caracteristic .caracteristiques, .produc-info-details .publisher-contacts .numbers ul li, .label-number{
        font-family: var(--main-font-Quicksand);
        font-size: var(--main-h4-font-size);
        line-height: var(--main-md-line-login);
        line-height: 24.5px;
        text-align:justify;
        color: var(--main-color-dark);
    }

    
    .produc-info-details .product-caracteristic .caracteristiques{
        display: flex;
        list-style: none;
        padding: 0;
    }

    .produc-info-details .publisher-contacts .numbers ul{
        list-style: none;
        padding: 0;
    }


    .label-number{
        font-weight: var(--main-xl-font-weiht);
    }

    .button-details{
        padding: 15px 20px 15px 20px;
    gap: var(--gap-10);
    border-radius: var(--main-radius-value-30);
    opacity: 0px;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    color: var(--main-color-white);
    font-family: var(--main-font-Quicksand);
    font-size: var(--main-h4-font-size);
    font-weight: var(--main-md-font-weiht);
    line-height: var(    --main-md-line-height);
    text-align: center;
    margin-bottom: 8px;
    }
/* end texte */


