<div class="product-list">

    <app-tags-list (filterParams)="filterDatas($event)"></app-tags-list>

    <div class="product-grid" *ngIf="products && products.length > 0">
        <app-product *ngFor="let item of products; trackBy: trackByAnnounce" [productItem]="item"></app-product>
    </div>

    <div class="empty-state" *ngIf="!products || products.length === 0">
        <div class="empty-icon">
            <i class="fa-solid fa-house-circle-xmark"></i>
        </div>
        <p class="empty-title">{{'user.product-detail.no-announce' | translate}}</p>
    </div>

</div>
