<div class="banner-container mb-5">
    <div class="container">
        <div class="row pt-5 pb-4">
            <div class="col-md-5">
                <div class="banner-text">
                    <h1 class="banner-title">
                        Louez, en toute simplicité
                    </h1>
                    <p class="banner-description">
                        Bailleurnet est La plateforme ultime pour la location de biens et services en toute simplicité 
                    </p>

                    <div class="button">
                        <a class="nav-link btn_publish float-end" href="">
                            <i class="fas fa-plus "></i>
                            Publier une annonce
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 offset-md-1">
                <div class="banner-image">

                </div>
            </div>
        </div>
    </div>
</div>
