<div class="banner-container mb-5">
    <div class="container">
        <div class="row pt-5 pb-4 align-items-center">
            <div class="col-md-5">
                <div class="banner-text">
                    <!-- <h1 class="banner-title">
                        {{'banner.title'|translate}}
                    </h1> -->
                    <h2 class="banner-title text-center">
                        <!-- {{'banner.title'|translate}} -->
                        <!-- {{'banner.title-2'|translate}}-->
                        {{'banner.title-3'|translate}}
                    </h2>
                    <!-- <p class="banner-description">
                        {{'banner.description'|translate}} 
                    </p> -->
                    <div class="button">
                        <a [routerLink]="['/admin/announces/create']" class="nav-link btn_publish float-end" href="">
                            <i class="fas fa-plus "></i>
                            {{'banner.btn-publish'|translate}}
                        </a>
                    </div>
                    <div class="button text-center">
                        <a href="https://yango.com/en_cm/" class="nav-link btn_yango float-end fw-bold" target="_blank">
                            YANGO
                        </a>
                    </div>
                    
                </div>
            </div>
            <!-- <div class="col-md-6 offset-md-1">
                <div class="banner-image">
                    
                </div>
            </div> -->
        </div>
    </div>
</div>
