/* You can add global styles to this file, and also import other style files */

/* import font-family */

/* font familly : Mulish */
@import url('https://fonts.googleapis.com/css?family=Mulish');

/* font familly : Quicksand */
@import url('https://fonts.googleapis.com/css?family=Quicksand');

/* font familly : Bree Serif */
@import url('https://fonts.googleapis.com/css?family=Bree Serif');

:root{
    /* Les Couleurs */
    --main-color: #5EB21E;
    --main-color-white: #FFFFFF;
    --main-color-black: #000000;
    --main-color-dark: #232323;
    --main-color-gray: #8F8F8F;
    --main-color-gray-10: #F2F2F2;
    --main-color-gray-15: #E5E5E5;
    --main-color-gray-7: #C7C7C7;
    --main-color-orange: #FAC84E;
    --main-color-red: rgba(238, 102, 102, 1);
    --main-color-orange-opa-: rgba(250, 200, 78, 0.8);
    --main-color-orange-K5: rgba(255, 240, 203, 1);
    --main-color-red-10: rgba(255, 211, 192, 1);
    --main-color-green-15: #C7FBA0;
    --main-color-green-30: rgba(76, 152, 19, 1);
    --main-color-green-5: #DFFCC8;
    --main-color-blackgreen: #24583F;
    --main-color-gray-5: #F8F8F8;
    --main-color-gray-20: rgba(143, 143, 143, 1);
    --main-color-yellow: yellow;
    --main-color-blue: rgba(23, 151, 255, 1);
    --main-color-footer: #212529;
    --main-color-green-10: #91E253;
    --main-color-grenn-opa-53:  rgba(145, 226, 83, 0.53);



    /* Police */
    --main-font-Quicksand: 'Quicksand';
    --main-font-Mulish: 'Mulish';
    --main-font-Bree-Serif : 'Bree Serif';


    /* Taille de la police */
    --main-h1-font-size : 48px;
    --main-h2-font-size : 36px;
    --main-h3-font-size : 25px;
    --main-h4-font-size : 18px;
    --main-h5-font-size : 15px;
    --main-small-font-size : 15px;
    --main-notif-font-size : 13px;

    /* font weight  */
    --main-xl-font-weiht : 600;
    --main-md-font-weiht : 400;
    --main-sm-font-weiht : 400;
    --main-xs-font-weiht : 300;

    /* line hight  */
    --main-lg-line-login : 45px;
    --main-3xl-line-height : 65.18px;
    --main-xxl-line-height : 45px;
    --main-lg-line-height : 31.25px;
    --main-md-line-height : 22.5px;
    --main-md-2-line-height : 18.75px;
    --main-sm-line-height : 16.32px;

    /* padding bouttons */
    --main-btn-md-padd : 8px 15px 8px 15px;
    --main-btn-sm-padd : 8px 10px 8px 10px;
    --main-btn-tag-padd : 6px 15px 6px 15px;    
    --main-btn-sm-tag-padd : 6px 10px 6px 10px;    
    --main-btn-pag-padd : 13px 20px 13px 20px;  
    --main-input-padd : 12px 15px 12px 15px;  
    --main-more-info-padd : 8px 6px 8px 6px;  
    --main-more-small-padd : 8px 3px 8px 3px;  
      

    /* green shadow */
    --main-shadow-green : -4px 0 10px -8px rgba(197, 242, 177, 0.82), 
                            4px 0 10px -8px rgba(197, 242, 177, 0.82), 
                            0 10px 15px -7px rgba(197, 242, 177, 0.82);

    --main-shadow-black : 4px 0 10px -8px rgba(0, 0, 0, 0.08), 
                            8px 0 10px -8px rgba(0, 0, 0, 0.08), 
                            0 10px 15px -7px rgba(0, 0, 0, 0.08);

    /* valeur border radius */
    --main-radius-value-30: 30px;
    --main-radius-value-20: 20px;
    --main-radius-value-8: 8px;
    --main-radius-value-6: 6px;
    --main-radius-value-10: 10px;
    --main-radius-value-3: 3px;
    --main-radius-value-5: 5px;
    --main-radius-value-50: 50%;
    --main-radius-value-10: 10px;
    --main-radius-value-100: 100px;

    /* border */
    --main-border-value-1: 1px;
    --main-border-value-5: 5px;

    /* gap */
    --gap-30 : 30px;
    --gap-15 : 15px;
    --gap-10 : 10px;
    
}


body{
    margin: 0;
    background-color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-family: var(--main-font-Quicksand);
    overflow-x: hidden;
    visibility: visible;
    user-select: none;
}

.w-80{
    width: 80%;
}

.w-95{
    width: 95%;
}


.gap-10{
    gap: 10px;
}

.md_text{
    font-size: var(--main-h4-font-size);
    line-height: var(--main-sm-line-height);
    font-weight: var(--main-md-font-weiht);
}




.btn_publish{
    border: none;
    padding: var(--main-btn-sm-padd);
    background-color: var(--main-color);
    font-family: var(--main-font-Quicksand);
    color: var(--main-color-white);
    border-radius: var(--main-radius-value-8);
    text-decoration: none;
}

.btn_add{
    border: none;
    padding: var(--main-btn-tag-padd);
    background-color: var(--main-color);
    font-family: var(--main-font-Quicksand);
    color: var(--main-color-white);
    border-radius: var(--main-radius-value-30);
    text-decoration: none;
}

.bg-blue-new{
    background-color: #EDF7FF;
}


.btn_cancel{
    border: none;
    padding: var(--main-btn-tag-padd);
    background-color: var(--main-color-gray-15);
    font-family: var(--main-font-Quicksand);
    color: var(--main-color-gray-20);
    border-radius: var(--main-radius-value-30);
    text-decoration: none;
}

.btn_login{
    padding: var(--main-btn-sm-padd);
    background-color: var(--main-color-white);
    color: var(--main-color);

}



.bg_black{
    background-color: #000000;
}

.radius-8{
    border-radius: 8px;
}

.h1-Quicksand{
    /* //styleName: H1-Quicksand-48-semibold; */
    font-family: 'Quicksand';
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    text-align: left;
    margin-bottom: 15px;
    margin-top: 0;
}

.title-h2{
    font-family: var(--main-font-Quicksand);
    font-size: var(--main-h2-font-size);
    font-weight: var(--main-xxl-font-weiht);
    line-height: var(--main-lg-line-login);
    text-align: left;
    color: var(--main-color-black);
}

.title-h1{
    font-family: var(--main-font-Quicksand);
    font-size: var(--main-h1-font-size);
    font-weight: var(--main-xl-font-weiht);
    line-height: var(--main-lg-line-login);
    text-align: left;
    color: var(--main-color-black);
}

.title-h4{
    font-family: var(--main-font-Quicksand);
    font-size: var(--main-h4-font-size);
    font-weight: var(--main-md-font-weiht);
    line-height: var(--main-lg-line-login);
    text-align: left;
    color: var(--main-color-black);
}

.label-form{
    font-family: var(--main-font-Quicksand);
    font-size: var(--main-h5-font-size);
    font-weight: var(--main-xl-font-weiht);
    line-height: var(--main-md-line-height);
    text-align: left;
    color: var(--main-color-dark);
}

input::placeholder{
    font-family: var(--main-font-Quicksand);
    font-size: var(--main-h5-font-size);
    font-weight: var(--main-md-font-weiht);
    line-height: var(--main-md-line-height);
    text-align: left;
    color: rgba(229, 229, 229, 1);
}

.form_group{
    display: flex;
    flex-direction: column;
}

.input_field{
    padding: 8px 15px;
    border: 1px solid rgba(199, 199, 199, 1);
    border-radius: var(--main-radius-value-3);
    background-color: rgba(248, 248, 248, 1);
    color: rgba(143, 143, 143, 1);
}

.checkbox-input{
    display: flex;
}

.profil-user{
    height: 182px;
    width: 182px;
    border-radius: 50%;
    color: rgba(143, 143, 143, 1);
    background-color: rgba(229, 229, 229, 1);
    padding: 42px 47px;
    font-size: 100px;
}

.p-relative{
    position: relative;
}

.orangeK{
    color: var(--main-color-orange);
}

.bg-orangeK{
    background-color: var(--main-color-orange) !important;
}

.orangeK5{
    color: var(--main-color-orange-K5);
}

.bg-orangeK5{
    background-color: var(--main-color-orange-K5) !important;
}

.error{
    color: rgb(189, 47, 47);
    font-weight: 600;
    font-size: small;
}

button:disabled
{
    cursor: not-allowed;
    opacity: 0.8;
}

.h2-baill{
    font-family: var(--main-font-Quicksand);
    font-size: var(--main-h2-font-size);
    line-height: var(--main-lg-line-height);
    margin: 0;
}

.icon-close{
    height: 24px;
    width: 24px;
    border: 1px solid var(--main-color-gray-10);
    color: rgba(199, 199, 199, 1);
    border-radius: 3px;
    text-align: center;
}

.fw-baill-bold{
    font-weight: var(--main-xl-font-weiht);
}

.fw-baill-medium-bold{
    font-weight: var(--main-md-font-weiht);
}

.h5-baill{
    font-family: var(--main-font-Quicksand);
    font-size: var(--main-h5-font-size);
    line-height: var(--main-md-2-line-height);

}

.h3-baill{
    font-family: var(--main-font-Quicksand);
    font-size: var(--main-h3-font-size);
    line-height: var(--main-md-2-line-height);
}

.h4-baill{
    font-family: var(--main-font-Quicksand);
    font-size: var(--main-h4-font-size);
    line-height: var(--main-md-line-height);
}

.p-relative{
    position: relative;
}
.p-absolute{
    position: absolute;
}

.g-10{
    gap: 10px;
}

.bg-green-main{
    background-color: var(--main-color);
}

.bg-red{
    background-color: #ED2D2D;
}

.bg-blue{
    background-color: #1797FF !important;
}

.bg-white{
    background-color: #FFFFFF;
}

.rounded-30{
    border-radius: var(--main-radius-value-30);
}

.bg-gray-wite{
    background-color: var(--main-color-gray-15);
}

.green-main{
    color: var(--main-color);
}

.main-red{
    color: #ED2D2D;
}

.main-blue{
    color: #1797FF
}

.blue-new{
    color: #0A91FF;
}

.main-white{
    color: #FFFFFF;
}



.main-gray-wite{
    color: var(--main-color-gray-15);
}

.baill-bg-img{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.mb-8{
    margin-bottom: 8px;
}

.green-black{
    color: var(--main-color-blackgreen);
}

.black{
    color: var(--main-color-dark);
}

.mb-30{
    margin-bottom: 30px;
}

.bail-list-ul{
    padding: 0;
    list-style: none;
}

.border-green-1{
    border: 1px solid #91E253;
}

.border-green-main{
    border: 1px solid var(--main-color);
}

.wrap{
    flex-wrap: wrap;
}

.border-none{
    border: none;
}

.btn-medium{
    padding: 8px 15px;
}

.main-font-quick{
    font-family: var(--main-font-Quicksand);
}


.finger{
    cursor: pointer !important;
}

.bg-transparent{
    background-color: transparent;
}

.modal.fade{
    z-index: 222222 !important  ;
}

.modal-backdrop.show {
    z-index: 11111 !important;
}

.m_auto{
    margin: 0 auto;
}


button:disabled{
    cursor: not-allowed;    
    opacity: .5;
}

a.link{
    text-decoration: none;
}

.bg-img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* .modal-backdrop{
    display: none;
} */

 #formPassord .form-control{
    background-color:  var(--main-color-green-5) !important;
    border-radius: var(--main-radius-value-6);
    font-family: var(--main-font-Quicksand);
    color: var(--main-color-dark);
    font-size: var(--main-h5-font-size);
    font-weight: var(--main-lg-font-weiht);
    line-height: var(--main-md-2-line-height);
    padding: var(--main-input-padd );
    border: none;
}