<div class="container">
    <div class="login-container">
        <div class="row align-items-center py-5 px-2">
            <div class="col-lg-6 mb-3" id="col-text">
                <div class="login-text">
                    <div class="siteName">
                        <a href="" class="logo ">
                            <img class="brand_size mx-0" src="../../../../assets/baill-logo.ico" alt="">
                            <span class="site_name">{{site_name}}</span>
                        </a>
                    </div>
                    <div class="login-description py-4">
                        <p class="">{{'user.signin.login-description'|translate}}</p>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="circles-content">
                                <div class="large-cicle">
                                    <div class="medium-cicle">
        
                                    </div>
                                </div>
                                <div class="small-cirle">
                                    
                                </div>
                            </div>

                        </div>
                        <div class="col-6"> 
                            <img class="image-password" src="../../../../assets/images/forgit-pass.svg  " alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-3">
                <div class="form-container py-4" id="loginForm">
                    <h2 class="form-title">
                        {{'user.signin.form-title'|translate}}
                    </h2>
                    <p class="text-login pt-2 pb-4">{{'user.signin.text-login'|translate}} <a class="" [routerLink]="['/signup']">{{'user.signin.title-signup'|translate}}</a></p>
                    <form id="form" [formGroup]="loginForm" *ngIf="loginForm" (ngSubmit)="handleSubmite()">
                        <div class="mb-4">
                            <label for="exampleInputEmail1" class="form-label">{{'user.signin.email'|translate}} </label>
                            <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            <div *ngIf="email.dirty && !email.valid">
                                <div class="" class="error" *ngIf="email.hasError('required')">
                                    {{email_error_message}}
                                </div>
                                <div class="error" *ngIf="!email.hasError('required')">
                                    l'e-mail n'est ne respecte pas le bon format.
                                </div>
                            </div>
                        </div>

                        <div class="" id="password_field">
                          <label for="exampleInputPassword1" class="form-label">{{'user.signin.password'|translate}}</label>
                          <input type="{{typeField}}" formArrayName="password" class="form-control" (keyup)="showIcon($event)" id="exampleInputPassword1">
                          <i class="fa-solid fa-eye{{icon_eyes}} d-{{display}}" (click)="toggleIconClass($event)" id="icon_eyes" ></i>
                          <div *ngIf="password.dirty && !password.valid">
                                <div class="error" *ngIf="formControls.password.errors.required">
                                    {{password_error_message}}
                                </div>
                          </div>
                        </div>

                        <div class="d-flex justify-content-center mt-5 mb-4">
                            <button type="submit" id="submit-button" class="btn btn-primary">{{'user.signin.form-title'|translate}}</button>
                        </div>

                        <!-- <div class="other-login-form">
                            <div class="d-flex align-items-center justify-content-center gap-2" id="or_underline">
                                <hr class="w-25"/> ou <hr class="w-25"/>
                            </div>

                            <div class="medias-login d-flex justify-content-center gap-3 mt-2 mb-0">
                                <a href="#">
                                    <img src="../../../../assets/brands/google-brand.png" height="46" width="46" alt="">
                                </a>
                                <a href="#">
                                    <i class="fa-brands fa-facebook text-primary h1 fab-icon"></i>
                                </a>
                            </div>
                        </div> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 
<div class="shadow-grediant">
    
</div> -->
