.products-categories-container {
    display: grid;
    grid-template-columns: 25% 71%;
    grid-column-gap: 4%;
}

.categories-list {
    position: sticky;
    top: 15%;
    z-index: 100; 
    height: 200px;
}

.articles-list {
    overflow-y: auto; 
    padding-right: 10px; 
}
