.products-categories-container {
    display: grid;
    grid-template-columns: 25% 71%;
    grid-column-gap: 4%;
    height: fit-content;
}

.categories-list {
    position: sticky;
    top: 15%;
    height: 200px;
    bottom: 5%;
}

.articles-list {
    padding-right: 10px; 
}
