<app-header></app-header>

<div class="main-container">
    <app-banner></app-banner>
    <app-products-hightlight [highlights]="highlights"></app-products-hightlight>

    <div class="container px-md-4">
        <div class="products-categories-container">

            <aside class="categories-list">
                <app-categories-list></app-categories-list>
            </aside>

            <section class="articles-list">
                <app-product-list [initialProducts]="products"></app-product-list>
            </section>

        </div>
    </div>
</div>

<app-footer></app-footer>
