<div class="contianer-fluid">
    <div class="page-title px-3">
        <h1>Gestion des utilisateurs</h1>
    </div>
    <div class="alert-message">
        <app-alert *ngIf="display_message" (timeOut) ="closeAlert($event)" [message] = "message_alert"></app-alert>
    </div>
    
    <div class="row overflow_x_scroll justify-content-end p-5">
        <div class="col-md-4 d-flex justify-content-end">
            <form class="d-flex w-100 nav_item position-relative">
                <input class="form-control me-2 py-1 px-5" id="search_field" 
                    type="search" placeholder="Recherche ...." 
                    aria-label="chercher"
                    (keyup)="searchValue($event)"
           
                    (search)="searchValue($event)"
                >
                <i class="fa-solid fa-magnifying-glass position-absolute search_icon"
                (click)="searchValue($event)">
                </i>
            </form>
        </div>

        <div class="result-message text-center fw-bold" *ngIf="query.length >= 2 && userList">
            Resultat de recherche pour : <span class="search_data">{{query}}</span>
        </div>
        <div class="result-message fw-bold text-center" *ngIf="query.length >= 2 && !userList">
            Aucun resultat pour : <span class="search_data">{{query}}</span>
        </div>
        
        <div class="col-12 d-flex justify-content-start gap-2 align-items-center py-3">
            <h3 class="label-filter m-0">Afficher par</h3>
            <select class="form-select w-25" id="" aria-label="Floating label select example" (change)="setPageLimit($event)">
                <option value="{{itemRange}}" *ngFor="let itemRange of rangeList">{{itemRange}}</option>
            </select>
        </div>
    
        <div class="result-message text-center fw-bold d-none" >
            Resultat de recherche pour : <span class="search_data"></span>
        </div>
        <div class="result-message fw-bold text-center d-none">
            Aucun resultat pour : <span class="search_data"></span>
        </div>
        
        <div class="col-12">
            <table class="table px-4 m-auto" id="dashboard_table">
                <thead>
                    <tr class="border-bottom-1-green">
                        <th scope="col" class="border-top-1-gray border-left-1-gray">No</th>
                        <th scope="col " class="bord">Nom Utilisateur </th>
                        <th scope="col " class="bord">Annonces expirées</th>
                        <th scope="col " class="bord">Annonces publiées</th>
                        <th scope="col " class="bord border-right-1-gray">Pays</th>
                        <th scope="col " class="bord">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="userList">
                        <tr *ngFor="let user of userList, let i = index">
                            <th scope="row" class="bord-black">{{i}} </th>
                            <td class="bord-black">
                                {{user.username}}
                            </td>
                            <td class="bord-black">{{user.nbre_expired}} </td>
                            <td class="bord-black">{{user.nbre_publisher}} </td>
                            <td class="bord-black">{{user.country | getContryByCode}} </td>

                            <!-- Les actions -->
                            <td class="bord-black">
                                <div class="icon-list d-flex align-items-center gap-2 justify-content-center">
                                    <div *ngIf="user.status == 1"  class="bg-danger text-white px-2 py-1 rounded" (click)="handleConfirmDisabled(true)">Bloquer</div>
                                    <div *ngIf="user.status == 0"  class="bg-secondary text-white px-2 py-1 rounded" (click)="handleConfirmDisabled(true)">Débloquer</div>

                                    <app-alert-confirm *ngIf="showAlert" (confirmAction)="disabledUser($event , user)"></app-alert-confirm>

                                    <i class="fa-solid fa-eye radius-3  green-black " [routerLink]="['/admin/user-management/details', user.id]" ></i>
                                </div>
                            </td>
                        </tr>
                    </ng-container>

                    <tr class="bord-black" *ngIf="!userList">
                        <td>
                            <div class="row">
                                <div class="col-12 d-flex justify-content-center data-not-found">
                                    Aucune données trouvée.
                                </div>
                            </div>
                        </td>
                    </tr>

                    <div class="col-12 py-3 d-flex justify_content" *ngIf="userList">
                        <app-paginator
                            [current] = "paginationDAtas?.current" 
                            [allcount] = "paginationDAtas?.allcount" 
                            [next] = "paginationDAtas?.next" 
                            [previous] = "paginationDAtas?.previous" 
                            [paginateLength] = "paginationDAtas?.paginateLength" 
                            [pageLimit] = "pageLImit"
                            (pageSelected)="setPage($event)"
                        >
                        </app-paginator> 
                    </div>
                    
                </tbody>
            </table>
    
        </div>
    </div>
</div>
